<div class="servicecollection__contact">
    <div class="servicecollection__contact_cellone">
        <p class="servicecollection__contact_question">Have questions? We will respond!</p>
    </div>
    <div class="servicecollection__contact_celltwo">
        <a href="mailto: mail@itpflege.com?subject=Service request" class="servicecollection__contact_button" >Send request<span
                uk-icon="icon: chevron-double-right; ratio: 2"></span></a>
    </div>
</div>