    <meta property="og:title" content="{{ post.SeoTitle }}">
    <meta property="og:site_name" content="ITPflege.com">
    <meta property="og:url" content="https://itpflege.com/{{ post.slug }}">
    <meta property="og:description" content="{{ post.SeoDesc }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://itpflege.com/test.png">
    <meta property="og:locale" content="us_US"/>
    <meta property="article:published_time" content="2019-11-05T17:27:58+00:00"/>
    <meta property="article:modified_time" content="2020-01-09T21:21:40+00:00"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@ITPflege"/>
    <meta name="twitter:site" content="@ITPflge"/>
    <meta name="twitter:label1" content="Writing author"/>
    <meta name="twitter:data1" content="outlooker"/>

