{% extends 'base.html.twig' %}

{% block seo %}
    <title>ITPflege blog</title>
    <meta name="description"
          content="We share our experience in developing and maintenance sites with our clients. Read ITPflege posts to improve your website effectiveness">
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="ITPflege blog">
    <meta property="og:site_name" content="ITPflege.com">
    <meta property="og:url" content="{{ app.request.getBaseURL() }}">
    <meta property="og:description"
          content="We share our experience in developing and maintenance sites with our clients. Read ITPflege posts to improve your website effectiveness">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://itpflege.com/test.png">
    <meta property="og:locale" content="us_US"/>
    <meta property="article:published_time" content="2021-09-15T17:27:58+00:00"/>
    <meta property="article:modified_time" content="2021-09-15T21:21:40+00:00"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@ITPfege"/>
    <meta name="twitter:site" content="@ITPflege"/>
    <meta name="twitter:label1" content="ITpflege Command"/>
    <meta name="twitter:data1" content="admin"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/particles.js') }}" defer="defer"></script>
    <script src="{{ asset('js/particles-secondary.js') }}" defer="defer"></script>
{% endblock %}

{% block templateContentArea %}

    <div class="particles">
        <h1 class="servicecollection__header">Blog</h1>
        <div id="particles-js-services" class="blog__particles_background"></div>
    </div>

    <div class="blog">
        <h1 class="blog__header">He-he, it's our blog! Our vision to technologies</h1>
        <div class="frontpage__blog_post">
            <div class="uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
                {% for post in posts %}
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                {# <img src="{{ asset('img/image-2.jpg') }}" alt=""> #}
                                <img class="post__preview_image" src="{{ post.postImages.first}}">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title"><a class="blog__card_link"
                                                             href="/blog/{{ post.slug }}">{{ post.title }}</a></h3>
                                <p>{{ post.seoDesc }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
