{% extends 'base.html.twig' %}

{% block seo %}
    <title>{{ contacts.seoTitle }}</title>
    <meta name="description" content="{{ contacts.seoDesc }}">
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="ITPflege. {{ contacts.seoTitle }}">
    <meta property="og:site_name" content="ITPflege.com">
    <meta property="og:url" content="{{ app.request.getBaseURL() }}">
    <meta property="og:description" content="{{ contacts.seoDesc }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://itpflege.com/test.png">
    <meta property="og:locale" content="us_US"/>
    <meta property="article:published_time" content="2021-09-15T17:27:58+00:00"/>
    <meta property="article:modified_time" content="2021-09-15T21:21:40+00:00"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@ITPfege"/>
    <meta name="twitter:site" content="@ITPflege"/>
    <meta name="twitter:label1" content="ITpflege Command"/>
    <meta name="twitter:data1" content="admin"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/particles.js') }}" defer="defer"></script>
    <script src="{{ asset('js/particles-secondary.js') }}" defer="defer"></script>
    <script type="application/ld+json">
		{{ contacts.googleJson|raw }}
    </script>
{% endblock %}

{% block templateContentArea %}

    <div class="particles">
        <h1 class="servicecollection__header">Contacts</h1>
        <div id="particles-js-services" class="blog__particles_background"></div>
    </div>

    <div class="contactpage">
        <div class="contactpage__info">
            <div class="contactpage__section_right">
                <h2 class="contactpage__right_header">Where we operate</h2>
                <hr class="uk-divider-small">
                <p class="contactpage__right_text">We are located in St. Petersburg, Russia. We work with local clients
                    and SOHO companies from the Baltic countries.</p>
                <h2 class="contactpage__right_header">First meeting</h2>
                <hr class="uk-divider-small">
                <p class="contactpage__right_text">ITpflege is not business junkies and we value informal communication.
                    You can visit our greatest city, the e-visa required. So, we are not Scatman fans and we really love
                    to use e-mail and messengers to communicate.</p>
            </div>
            <div class="uk-divider-vertical contactpage__divider_vertical"></div>
            <div class="contactpage__section_left">
                <h2 class="contactpage__header_sub">Contact</h2>
                <hr class="uk-divider-small">
                <div class="contactpage__text">
                    <p>Customer service: 11.00 to 21.00 (GMT +3)</p>
                    <p>E-mail:
                        <a class="contactpage__connect" href="mailto:test@itpflege.com">info@itpflege.com</a>
                    </p>
                    <p>Messengers:
                        <a class="contactpage__connect" href="https://api.whatsapp.com/send/?phone=79218636930&text=Message+from+ITPflege+site&app_absent=0">WhatsApp</a>
                        |
                        <a class="contactpage__connect" href="#">Fb Messenger</a>
                        |
                        <a class="contactpage__connect" href="tg://resolve?domain=sodegov">Telegram</a>
                    </p>
                </div>
{# Contact Form #}
{#                <div class="contactpage__form">#}
{#                    <h2 class="contactpage__header_sub">Contact Form</h2>#}
{#                    <hr class="uk-divider-small">#}
{#                    {{ render(controller('App\\Controller\\ContactController::index')) }}#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div class="google__maps" style="width: 100%">
        <iframe width="100%" height="440" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=%D0%B6%D0%B4%D0%B0%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BD%D0%B0%D0%B1%D0%B5%D1%80%D0%B5%D0%B6%D0%BD%D0%B0%D1%8F%20%D0%B4%D0%BE%D0%BC%203+(ITpflege)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
    </div>
{% endblock %}
