{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/particles.js') }}" defer="defer"></script>
	<script src="{{ asset('js/particles-primary.js') }}" defer="defer"></script>
	<script type="application/ld+json">
		{{ customerServices.googleJson|raw }}
	</script>
{% endblock %}

{% block seo %}
	<title>{{ customerServices.seoTitle }}</title>
	<meta name="description" content="{{ customerServices.seoDesc }}">
{% endblock %}

{% block opengraph %}
	<meta property="og:title" content="{{ customerServices.seoTitle }}">
	<meta property="og:site_name" content="ITPflege.com">
	<meta property="og:url" content="https://itpflege.com">
	<meta property="og:description" content="{{ customerServices.seoDesc }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://itpflege.com/test.png">
	<meta property="og:locale" content="us_US"/>
	<meta property="article:published_time" content="2019-11-05T17:27:58+00:00"/>
	<meta property="article:modified_time" content="2020-01-09T21:21:40+00:00"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:creator" content="@ITPfege"/>
	<meta name="twitter:site" content="@ITPflege"/>
	<meta name="twitter:label1" content="ITpflege Command"/>
	<meta name="twitter:data1" content="admin"/>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block templateContentArea %}

{{ customerServices.content | raw }}

<div class="seo__block">
	<h2 class="seo__block_header">ITpflege.com - b2c sites and online stores development</h2>
	<p class="seo__block_description">We have been developing websites since 2009. ITPflege provides services for creating web solutions for SOHO business, both simple landing pages, online stores or web applications. Applying modern approaches to web development, we together with you control the quality of the work performed throughout the entire process of creating a website. We are dedicated to the result and your success with long-term cooperation.</p>
</div>
{% endblock %}
