{% extends 'base.html.twig' %}

{% block seo %}
    <title>{{ frontpage.seoTitle }}</title>
    <meta name="description" content="{{ frontpage.seoDesc }}">
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="ITPflege. {{ frontpage.seoTitle }}">
    <meta property="og:site_name" content="ITPflege.com">
    <meta property="og:url" content="{{ app.request.getBaseURL() }}">
    <meta property="og:description" content="{{ frontpage.seoDesc }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://itpflege.com/test.png">
    <meta property="og:locale" content="us_US"/>
    <meta property="article:published_time" content="2021-09-15T17:27:58+00:00"/>
    <meta property="article:modified_time" content="2021-09-15T21:21:40+00:00"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@ITPfege"/>
    <meta name="twitter:site" content="@ITPflege"/>
    <meta name="twitter:label1" content="ITpflege Command"/>
    <meta name="twitter:data1" content="admin"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/mainPageScreen.js') }}" async></script>
    <script type="application/ld+json">
		{{ frontpage.googleJson|raw }}
    </script>
{% endblock %}

{% block templateContentArea %}

    <div class="frontpage__banner">
        <div class="frontpage__animation_text">
            <h2>
                ITPflege – web development in Latvia, Estonia and Finland<br><br>
                Websites and online stores development, e-commerce and CRMs support since 2009
            </h2>
            <button onclick="location.href='{{ path('services-list') }}'" class="uk-button frontpage__button">All
                services
            </button>
        </div>
        <canvas id='world' class="frontpage__animation"></canvas>
    </div>

    {{ frontpage.content|raw }}

    <div class="frontpage__blog">
        <h2 class="frontpage__services_header">He-he, it's our blog! Our vision to technologies</h2>
        <div class="uk-child-width-1-3@m uk-child-width-1-3@s" uk-grid>
            {% for post in frontpagePosts %}
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img class="post__preview_image" src="{{ post.postImages.first}}" alt="{{ post.seoDesc }}">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">
                                <a class="blog__card_link" href="/blog/{{ post.slug }}">{{ post.title }}</a>
                            </h3>
                            <p>{{ post.seoDesc }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
