{% extends 'base.html.twig' %}

{% block seo %}
    <title>{{ works.seoTitle }}</title>
    <meta name="description" content="{{ works.seoDesc }}">
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="ITPflege. {{ works.seoTitle }}">
    <meta property="og:site_name" content="ITPflege.com">
    <meta property="og:url" content="{{ app.request.getBaseURL() }}">
    <meta property="og:description" content="{{ works.seoDesc }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://itpflege.com/test.png">
    <meta property="og:locale" content="us_US"/>
    <meta property="article:published_time" content="2021-09-15T17:27:58+00:00"/>
    <meta property="article:modified_time" content="2021-09-15T21:21:40+00:00"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@ITPfege"/>
    <meta name="twitter:site" content="@ITPflege"/>
    <meta name="twitter:label1" content="ITpflege Command"/>
    <meta name="twitter:data1" content="admin"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/particles.js') }}" defer="defer"></script>
    <script src="{{ asset('js/particles-secondary.js') }}" defer="defer"></script>
{% endblock %}


{% block templateContentArea %}

    <div class="particles">
        <h1 class="servicecollection__header">Portfolio</h1>
        <div id="particles-js-services" class="blog__particles_background"></div>
    </div>

    <div class="frontpage__blog">
        <h1 class="portfolio__header_block">We have been creating websites in Baltics region since 2009. We provide
            comprehensive services for website development, ranging from simple landing pages and opening an online
            store from scratch to web applications and CRM. We not only create new projects but also provide maintenance
            and support for sites. We need your success and long-term cooperation with us!</h1>
        <div class="homepage__blog_post">
            <div class="uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="{{ asset('img/image-2.jpg') }} " alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">glushiteli.lv</h3>
                            <p>Repair, manufacture, maintenance of vehicle exhaust systems in Latvia</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="{{ asset('img/image-1.jpg') }}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">beINunison Store</h3>
                            <p>Online store of fashionable youth clothing</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="{{ asset('img/image-3.jpg') }}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Collection Alternative</h3>
                            <p>Official dealer DCW Editions, Carl Hansen, Ercol Woak in Russia and Belarus.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="{{ asset('img/image-2.jpg') }} " alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Lampe Gras </h3>
                            <p>Oficial distributor Lampe Gras in Russia and Belarus</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="{{ asset('img/image-1.jpg') }}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Klad Baza</h3>
                            <p>Model and actor base</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="{{ asset('img/image-3.jpg') }}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Lenrc</h3>
                            <p>Real estate agency</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog__pagination">
            <ul class="uk-pagination" uk-margin>
                <li><a class="blog__pagination_link" href="#"><span uk-pagination-previous></span></a></li>
                <li><a class="blog__pagination_link" href="#">1</a></li>
                <li><a class="blog__pagination_link" href="#">2</a></li>
                <li><a class="blog__pagination_link" href="#">3</a></li>
                <li class="uk-disabled"><span>...</span></li>
                <li><a class="blog__pagination_link" href="#">15</a></li>
                <li><a class="blog__pagination_link" href="#"><span uk-pagination-next></span></a></li>
            </ul>
        </div>
    </div>
    {{ include('client-side/__contactFooter.html.twig') }}

{% endblock %}
