{% extends 'base.html.twig' %}

{% block seo %}
	<title>{{ post.SeoTitle }}</title>
	<meta name="description" content="{{ post.SeoDesc }}">
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script type="application/ld+json">
		{{ post.googleJson|raw }}
	</script>
{% endblock %}

{% block opengraph %}
	{{ include('client-side/__opengraphSnippet.html.twig') }}
{% endblock %}

{% block templateContentArea %}
	<div class="blog__posthead">
		<h1 class="blog__posthead_color">{{ post.title }}</h1>
	</div>

	<div class="frontpage__blog">
		<div class="blog__post_content">
			{{ post.content|raw }}
		</div>
	</div>
	{{ include('client-side/__contactFooter.html.twig') }}
{% endblock %}
