{% extends 'base.html.twig' %}

{% block seo %}
    <title>{{ serviceslist.seoTitle }}</title>
    <meta name="description" content="{{ serviceslist.seoDesc }}">
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="ITPflege. {{ serviceslist.seoTitle }}">
    <meta property="og:site_name" content="ITPflege.com">
    <meta property="og:url" content="{{ app.request.getBaseURL() }}">
    <meta property="og:description" content="{{ serviceslist.seoDesc }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://itpflege.com/test.png">
    <meta property="og:locale" content="us_US"/>
    <meta property="article:published_time" content="2021-09-15T17:27:58+00:00"/>
    <meta property="article:modified_time" content="2021-09-15T21:21:40+00:00"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@ITPfege"/>
    <meta name="twitter:site" content="@ITPflege"/>
    <meta name="twitter:label1" content="ITpflege Command"/>
    <meta name="twitter:data1" content="admin"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/particles.js') }}" defer="defer"></script>
    <script src="{{ asset('js/particles-secondary.js') }}" defer="defer"></script>
    <script type="application/ld+json">
		{{ serviceslist.googleJson|raw }}
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/roadmap.css') }}">
{% endblock %}

{% block templateContentArea %}
    <div class="particles">
        <h1 class="servicecollection__header">Our services</h1>
        <div id="particles-js-services"></div>
    </div>

    <div class="tetrablocks">
        <h2 class="tetrablocks__header">All-in-one</h2>
        <section id="timeline">
            <div class="tl-item allinone__item_first">
                <div class="tl-year">
                    <a class="allinone__link" href="services/landing-page-development">Landing</a>
                </div>
                <div class="tl-content">
                    <p>Landing has significant advantages over free website builders: no monthly fee - only pay for
                        hosting, adaptive templates, full customization</p>
                </div>
            </div>

            <div class="tl-item allinone__item_second">
                <div class="tl-year">
                    <a class="allinone__link" href="services/business-website-b2c-development">Website</a>
                </div>
                <div class="tl-content">
                    <p>The B2C website contains detailed information about the business, services, and prices</p>
                </div>
            </div>

            <div class="tl-item allinone__item_third">
                <div class="tl-year">
                    <a class="allinone__link" class="" href="services/online-store-development-woocommerce">Store</a>
                </div>
                <div class="tl-content">
                    <p>An important feature of the online store is the catalog of goods that the visitor can select, add
                        to the cart and place an order</p>
                </div>
            </div>

            <div class="tl-item allinone__item_four">
                <div class="tl-year">
                    <a class="allinone__link" href="services/responsive-web-design-development-for-devices">Mobile</a>
                </div>
                <div class="tl-content">
                    <p>Responsive design is convenient for smartphone and tablet users, and it is a necessary feature
                        for the site's ranking in the Google search engine</p>
                </div>
            </div>
        </section>
        <div class="timeline__mobile">
            <div class="allinone__item_first allinone__item_mobile">
                <div class="allinone__mobile_head">
                    <a href="/services/landing-page-development">Landing Page</a>
                </div>
                <div class="allinone__mobile_desc">
                    <p>Landing has significant advantages over free website builders: no monthly fee - only pay for
                        hosting, adaptive templates, full customization</p>
                </div>
            </div>
            <div class="allinone__item_second allinone__item_mobile">
                <div class="allinone__mobile_head">
                    <a href="services/business-website-b2c-development">B2C Website</a>
                </div>
                <div class="allinone__mobile_desc">
                    <p>The B2C website contains detailed information about the business, services, and prices</p>
                </div>
            </div>
            <div class="allinone__item_third allinone__item_mobile">
                <div class="allinone__mobile_head">
                    <a href="services/online-store-development-woocommerce">E-commerce Store </a>
                </div>
                <div class="allinone__mobile_desc">
                    <p>An important feature of the online store is the catalog of goods that the visitor can select, add
                        to the cart and place an order</p>
                </div>
            </div>
            <div class="allinone__item_four allinone__item_mobile">
                <div class="allinone__mobile_head">
                    <a href="services/responsive-web-design-development-for-devices">Responsive Design</a>
                </div>
                <div class="allinone__mobile_desc">
                    <p>Responsive design is convenient for smartphone and tablet users, and it is a necessary feature
                        for the site's ranking in the Google search engine.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="servicecollection_development">
        <h2 class="tetrablocks__header">Development</h2>
        <div class="servicecollection__grid uk-animation-toggle" tabindex="0">
            <a class="uk-card uk-card-body servicecollection__card_one servicecollection__card_position">
                <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                     uk-icon="icon:  arrow-right; ratio: 1.5"></span>Landing
                    Page</h3>
            </a>
            <a class="uk-card uk-card-body servicecollection__card_one servicecollection__card_position">
                <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                     uk-icon="icon: check; ratio: 1.5"></span>Business
                    Site | B2C site</h3>
            </a>
            <a class="uk-card uk-card-body servicecollection__card_one servicecollection__card_position">
                <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                     uk-icon="icon: wordpress; ratio: 1.5"></span>WordPress
                    development</h3>
            </a>
            <a class="uk-card uk-card-body servicecollection__card_one servicecollection__card_position">
                <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                     uk-icon="icon: cart; ratio: 1.5"></span>Woo
                    Commerce development</h3>
            </a>
            <a class="uk-card uk-card-body servicecollection__card_one servicecollection__card_position">
                <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                     uk-icon="icon: cart; ratio: 1.5"></span>Symfony
                    Development</h3>
            </a>
            <a class="uk-card uk-card-body servicecollection__card_one servicecollection__card_position">
                <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                     uk-icon="icon: cart; ratio: 1.5"></span>Tilda
                    Development</h3>
            </a>
            <a class="uk-card uk-card-body servicecollection__card_one servicecollection__card_position">
                <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                     uk-icon="icon: cart; ratio: 1.5"></span>
                    Shopify Online Store</h3>
            </a>
            <a class="uk-card uk-card-body servicecollection__card_one servicecollection__card_position">
                <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                     uk-icon="icon: phone; ratio: 1.5"></span>Mobile
                    sites</h3>
            </a>
        </div>
    </div>
    <a href="#support"></a>
    <div class="servicecollection_support">
        <h2 class="tetrablocks__header"><a class="support__anchor_link" name="support">Support</a>
        </h2>
        <div class="homepage__services servicecollection__offer homepage__services_second">
            <div class="servicecollection__grid uk-animation-toggle" tabindex="0">
                <a href="/services/online-store-website-maintenance-upgrade-service" class="uk-card uk-card-body servicecollection__card_two servicecollection__card_position">
                    <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                         uk-icon="icon: nut; ratio: 1.5"></span>Maintenance & Upgrade
                    </h3>
                </a>
                <a class="uk-card uk-card-body servicecollection__card_two servicecollection__card_position">
                    <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                         uk-icon="icon: pencil; ratio: 1.5"></span>Content
                        Managment</h3>
                </a>
                <a class="uk-card uk-card-body servicecollection__card_two servicecollection__card_position">
                    <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                         uk-icon="icon: file-text; ratio: 1.5"></span>SEO
                        Optimization</h3>
                </a>
                <a class="uk-card uk-card-body servicecollection__card_two servicecollection__card_position">
                    <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                         uk-icon="icon: pencil; ratio: 1.5"></span>QA
                    </h3>
                </a>
                <a class="uk-card uk-card-body servicecollection__card_two servicecollection__card_position">
                    <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                         uk-icon="icon: server; ratio: 1.5"></span>Hosting
                        configuration</h3>
                </a>
                <a class="uk-card uk-card-body servicecollection__card_two servicecollection__card_position">
                    <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                         uk-icon="icon: nut; ratio: 1.5"></span>Legacy
                        project support</h3>
                </a>
                <a class="uk-card uk-card-body servicecollection__card_two servicecollection__card_position">
                    <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                         uk-icon="icon: database; ratio: 1.5"></span>Symfony
                        support</h3>
                </a>
                <a class="uk-card uk-card-body servicecollection__card_two servicecollection__card_position">
                    <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                         uk-icon="icon: database; ratio: 1.5"></span>Site
                        audit compliance</h3>
                </a>
                <a class="uk-card uk-card-body servicecollection__card_two servicecollection__card_position">
                    <h3 class="uk-card-title service__block_wheat"><span class="services__icon"
                                                                         uk-icon="icon: database; ratio: 1.5"></span>Facebook
                        Pixel && Google Tag Manager</h3>
                </a>
            </div>
        </div>
    </div>

    {{ include('client-side/__contactFooter.html.twig') }}

{% endblock %}
