{# templates/bundles/TwigBundle/Exception/error404.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="language" content="English">
    <meta name="author" content="ITPflege">
    <link rel="canonical" href="{{ app.request.uri }}"/>
    <link rel="icon" type="image/png" href="{{ asset('icons/favicon.png') }}"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('uikit-dist/css/uikit.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/2000QHD.css') }}">
        <link rel="stylesheet" href="{{ asset('css/1200desktop.css') }}">
        <link rel="stylesheet" href="{{ asset('css/960smalldesktop.css') }}">
        <link rel="stylesheet" href="{{ asset('css/768pad.css') }}">
        <link rel="stylesheet" href="{{ asset('css/450tablet.css') }}">
        <link rel="stylesheet" href="{{ asset('css/0phone.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap"
              rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ asset('uikit-dist/js/uikit.min.js') }}"></script>
        <script src="{{ asset('uikit-dist/js/uikit-icons.min.js') }}" async></script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () {
                    (m[i].a = m[i].a || []).push(arguments)
                };
                m[i].l = 1 * new Date();
                k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(85784349, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true
            });
        </script>
        <noscript>
            <div><img src="https://mc.yandex.ru/watch/85784349" style="position:absolute; left:-9999px;" alt=""/></div>
        </noscript>
        <!-- /Yandex.Metrika counter -->
    {% endblock %}
</head>
<body>
<header>
    <div class="header__sticky_glue">
        <div class="header__contacts">
            <div class="header__logo"><a href="/">ITPflege</a></div>
            <div class="header__messengers">
                <a class="header__messenger_logo header__messengers_whatsapp dpnone"
                   href="https://wa.me/7921863690?text=I'm%20interested%20in%20your%20site%20for%20sale"></a>
                <a class="header__messenger_logo header__messengers_viber dpnone" href="https://m.me/tosaithe"></a>
                <a class="header__messenger_logo header__messengers_tlg dpnone" href="tg://resolve?domain=sodegov"></a>
                <a class="header__messenger_logo header__messengers_mail dpnone" href="mailto:info@itplfege.com"></a>
                <button class="header__menubutton_desktop uk-button uk-button-default uk-margin-small-right"
                        type="button" uk-toggle="target: #offcanvas-nav-primary">MENU
                </button>
                <button class="header__menubutton_mobile uk-button uk-button-default uk-margin-small-right"
                        type="button" uk-toggle="target: #offcanvas-nav-primary"><span
                            uk-icon="icon: menu; ratio: 1.8"></span></button>
            </div>
        </div>
    </div>
</header>
<div id="offcanvas-nav-primary" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li><a href="/">Home Page</a></li>
            <li><a href="{{ path('how-we-work') }}">How we work</a></li>
            <li class="uk-parent">
                <a href="{{ path('services-list') }}">Development</a>
                <ul class="uk-nav-sub">
                    <li><a href="/services/landing-page-development">Landing Page</a></li>
                    <li><a href="/services/business-website-b2c-development">B2C Website Development</a></li>
                    <li><a href="/services/online-store-development-woocommerce">Online Store Development</a></li>
                    <li><a href="/services/responsive-web-design-development-for-devices">Responsive Mobile Site</a>
                    </li>
                </ul>
            </li>
            <li class="uk-nav-divider"></li>
            <li class="uk-parent">
                <a href="/services#support">Support</a>
                <ul class="uk-nav-sub">
                    <li><a href="/services/online-store-website-maintenance-upgrade-service">Maitenance and upgrade</a>
                    </li>
                    <li><a href="#">WordPress support</a></li>
                    <li><a href="#">WooCommerce support</a></li>
                    <li><a href="#">Symfony Support</a></li>
                </ul>
            </li>
            <li class="uk-nav-divider"></li>
            {# <li><a href="{{ path('works') }}"><span class="uk-margin-small-right" uk-icon="icon: album"></span>Works</a></li> #}
            <li><a href="{{ path('blog') }}"><span class="uk-margin-small-right"
                                                   uk-icon="icon: bookmark"></span>Blog</a></li>
            <li><a href="{{ path('contacts') }}"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>Contacts</a>
            </li>
        </ul>
    </div>
</div>
<div class="page404">
    <div class="block404">
        <div class="error__text">
            <h1 class="error__header">ITPflege.com</h1>
        </div>
        <div class="error__text">
            <p class="error__text_prop">Error 404. The requested page has been moved or deleted.</p>
        </div>
        <div class="error__text">
            <p class="error__text_prop">Don't worry. This page is not available, but our site has other intresting
                pages</p>
        </div>
        <div class="error__text">
            <p class="error__text_prop">Click menu button or start with main page - <a class="links404__prop" href="#">ITPflege.com</a>
            </p>
        </div>
        <div class="error__text">
            <p class="error__text_prop">or browse our sections:</p>
        </div>
        <div class="links404">
            <a class="links404__prop link__block" href="{{ path('how-we-work') }}">How we work</a>
            <a class="links404__prop link__block" href="{{ path('services-list') }}">Development & Support</a>
            <a class="links404__prop link__block" href="{{ path('blog') }}">Blog</a>
            <a class="links404__prop link__block" href="{{ path('contacts') }}">Contacts</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $body = $('body');
        $body.addClass("page404__block");
    });
</script>


</body>
</html>

