{# templates/bundles/TwigBundle/Exception/error.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="language" content="English">
    <meta name="author" content="ITPflege">
    <link rel="canonical" href="{{ app.request.uri }}"/>
    <link rel="icon" type="image/png" href="{{ asset('icons/favicon.png') }}"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('uikit-dist/css/uikit.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/2000QHD.css') }}">
        <link rel="stylesheet" href="{{ asset('css/1200desktop.css') }}">
        <link rel="stylesheet" href="{{ asset('css/960smalldesktop.css') }}">
        <link rel="stylesheet" href="{{ asset('css/768pad.css') }}">
        <link rel="stylesheet" href="{{ asset('css/450tablet.css') }}">
        <link rel="stylesheet" href="{{ asset('css/0phone.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap"
              rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ asset('uikit-dist/js/uikit.min.js') }}"></script>
        <script src="{{ asset('uikit-dist/js/uikit-icons.min.js') }}" async></script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () {
                    (m[i].a = m[i].a || []).push(arguments)
                };
                m[i].l = 1 * new Date();
                k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(85784349, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true
            });
        </script>
        <noscript>
            <div><img src="https://mc.yandex.ru/watch/85784349" style="position:absolute; left:-9999px;" alt=""/></div>
        </noscript>
        <!-- /Yandex.Metrika counter -->
    {% endblock %}
</head>
<body>
<h1>The only reason you see it is 'cause something went wrong.</h1>


</body>
</html>

