@media screen and (min-width: 994px) and (max-width: 5000px) {

    /* @group Base */
    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto Condensed';
    }

    body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    a {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

	.red.accent-4 {
		border-radius: 4px;
	}

    /* @end */
    /* @Mobile Fixes*/
    .seoblock__mobile {
        display: none;
    }

    .mission__header_mobile {
        display: none;
    }

    .footer__contact_mobile {
        display: none;
    }

    .footer__mobile {
        display: none;
    }

    .stuffmobile {
        display: none;
    }

    .pricemobile {
        display: none;
    }

    .otherproduct__mobile {
        display: none;
    }

    .offermobile {
        display: none;
    }

    .ourworks__mobile {
        display: none;
    }

    .stuff__pad {
        display: none;
    }

    .gridcontainer__pad {
        display: none;
    }

    .footer__mobile {
        display: none;
    }

    /* @end*/
    /*СТИЛИ ГЛАВНОЙ СТРАНИЦЫ*/
    /* @Верхний блок контактов*/
    .mobile__contact_form {
        display: none;
    }

    .contact__header {
        display: flex;
        justify-content: space-between;;
        max-width: 100%;
        height: 55px;
        background-color: #D7CCC8;
        margin: auto;
        font-size: 1.1em;
    }

    .contact__mail {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contactpage__messenger {
        justify-content: flex-start !important;
    }

    .contacticon__color {
        filter: invert(13%) sepia(12%) saturate(1835%) hue-rotate(321deg) brightness(102%) contrast(90%) !important;
    }

    .divider__contacts {
        background:#3E2723 !important;
    }

    .contact__icon {
        color: #f4511e;
        margin-right: 5%;
    }

    .contact__mail_send a {
        color: black;
    }

    .contact__phone {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .whatsapp__header {
        filter: invert(36%) sepia(63%) saturate(3174%) hue-rotate(352deg) brightness(101%) contrast(91%) !important;
    }

    .divider__header {
        width: 1px;
        margin: 1px 0;
        background: #f4511e;
    }

    .contact__phone a {
        color: black;
    }

    .contact__form {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .contact__form_text a {
        color: black;
    }

    .wpcf7-response-output {
        text-align: center;
    }

    /* @end*/
    /* @Навигационная панель */
    .nav-wrapper {
        background-color: #3E2723;
    }

    .hide-on-med-and-down {
        display: flex;
        justify-content: center;
        font-size: 1.2em;
        margin-left: 18%;
        margin-right: 18%;
    }

    .brand-logo {
        left: 4%;
    }

    .hide-on-med-and-down a {
        font-size: 1.3em !important;
        font-weight: 300 !important;
    }

    .hide-on-med-and-down li {
        display: flex;
        justify-content: center;
        min-width: 15%;
    }

    /* @end*/
    /* @Слайдер*/
    .swiper-container {
        width: 100%;
        height: 450px;
    }

    .swiper-slide {
        width: 100%
    }

    /* @end*/
    /* @Реклама в слайдере */
    .slider {
        overflow: hidden;;
    }

    .slidertext {
        height: 450px;
        width: 100%;
        display: block;
        position: absolute;
        background-color: black;
        z-index: 1001;
        opacity: 0.65;
    }

    .slidermessage {
        z-index: 9999;
        display: block;
        position: relative;
        max-width: 100%;
        bottom: 390px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .slidermessage__header {
        margin: auto;
        color: white;
        text-align: center;
        font-size: 2em;
    }

    .slidermessage__header h1 {
        font-size: 2.92rem;
    }

    .slidermessage__text {
        display: block;
        position: relative;
        margin: auto;
        color: white;
        text-align: center;
        font-size: 1.68em;
        top: 20px;
        font-weight: 300;
    }

    .slidermessage__button {
        display: flex;
        justify-content: center;
    }

    .button__spec {
        border-radius: 4px !important;
        width: 23%;
        font-size: 1.1em;
        top: 45px;
    }
    /* @end*/
    /* @Услуги*/
    .product {
        display: block;
        position: relative;
        max-width: 100%;
        padding-top: 75px;
    }

    .product__header {
        display: flex;
        justify-content: center;
        font-family: 'Roboto Condensed';
        color: #3E2723;
        font-size: 2em;
        margin-bottom: 25px;
    }

    .product__header h2 {
        font-size: 2.92rem;
    }

    .product__block {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        color: #3E2723;
        margin-right: 15%;
        margin-left: 15%;
    }

    .product__cell {
        width: 45%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .product__cell_icon {
        display: block;
        position: relative;
        min-height: 100px;
        color: #f4511e;
        margin-right: 3%;
    }

    .product__cell_text h3 {
        display: block;
        position: relative;
        font-size: 1.5em;
        font-weight: 300;
        bottom: 25px;

    }

    .product__cell_text a {
        color: #3E2723;
        border-bottom: 1px solid #d7ccc8;
        font-weight: 300;
    }

    .product__cell_text a:hover {
        border-bottom: 1px solid #ff8a65;
        color: #f4511e;
    }

    .product__text {
        display: block;
        position: relative;
        font-size: 1.2em;
        font-weight: 300;
        bottom: 35px;
        text-align: justify;
        line-height: 1.9em;
    }

    /* @end*/
    /* @Наша миссия */
    .mission {
        padding-top: 20px;
        padding-bottom: 45px;
        background-color: #D7CCC8;
    }

    .mission__header {
        padding-top: 10px;
        display: flex;
        justify-content: center;
        color: #3E2723;
    }

    .mission__block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 55px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .collapsible__header_index {
        font-size: 1.5em;
        padding: 2% !important;
        font-weight: 300;
    }

    .collapsible__body_edit {
        border: 0 !important;

    }

    .collapsible {
        border-right: 0px !important;
        border-left: 0px !important;
    }

    .mission__icon_color {
        color: #f4511e;
        font-size: 1.6em !important;
        margin-right: 5% !important;
    }

    .mission__blocks_text {
        width: 55%;
        margin-right: 15%;
        font-size: 1.2em;
        font-weight: 300;
        text-align: justify;
    }

    .collapsible-body a {
        color: black !important;
        text-decoration: underline !important;
    }

    /* @end*/
    /*Mainpage blog*/
    .gridcontainer__mainpage {
        min-height: 480px !important;
        margin: 0 !important;
        padding-left: 13%;
    }

    .mainpage__header {
        text-align: center;
        font-family: 'Roboto Condensed';
        color: #3E2723;
        font-size: 2.92rem;
        padding-top: 25px;
        padding-bottom: 33px;
    }

    .main__blog_fix {
        margin-right: 5% !important;
    }

    .wp-pagenavi a:hover, .wp-pagenavi span.current {
        border: 1px solid #f4511e !important;
        color: #f4511e;
    }

    .wp-pagenavi a, .wp-pagenavi span {
        border: 1px solid #3E2723 !important;
        color: #3E2723;
    }


    /*@end*/
    /* Footer*/
    .footer {
        display: flex;
        justify-content: space-between;
        background-color: #3E2723;
        max-width: 100%;
        min-height: 200px;
        color: white;
        padding-right: 10%;
        padding-left: 10%;
        padding-top: 30px;
        padding-bottom: 47px;
    }

    .footer__logo h4 {
        font-weight: 300;

    }

    .footer__blocks {
        font-size: 1.1em;
        font-weight: 200;
    }

    .footer__flex {
        display: flex;
        justify-content: center;
    }

    .footer__blocks a {
        color: white;
        border-bottom: 1px solid #f9f4f4;
    }

    .footer__blocks a:hover {
        color: #f4511e;
        border-bottom: 1px solid #f4511e;
    }

    .footer__contact a {
        color: white;
        border-bottom: 1px solid #f9f4f4;
    }

    .footer__contact a:hover {
        color: #f4511e;
        border-bottom: 1px solid #f4511e;
    }

    .footer__blocks_messenger {
        display: flex;
        justify-content: space-evenly;
        width: 25%;
        margin: 10px 0px 12px 0px;
    }

    .footer__blocks_messenger a, .footer__blocks_messenger a:hover {
        border-bottom: 0px;
    }

    .footer__messenger_main {
        height: 23px;
        width: 23px;
        display: block;
        background-size:cover;
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }

    .footer__messenger_whatsapp {
        background-image: url(../img/icons/whatsapp.svg);
    }

    .footer__messenger_telegram {
        background-image: url(../img/icons/telegram.svg);
    }

    .footer__messenger_viber {
        background-image: url(../img/icons/viber.svg);
    }

    .footer__share {
        width: 40%;
        font-weight: 200;
        font-size: 1.2em;
        line-height: 2em;
    }

    .footer__share_text {
        margin-bottom: 10px;
    }

    .footer__contact {
        margin-right: 0;
    }

    #modal99 {
        top: 33% !important;
        overflow-y: none !important;
        max-width: 35%;
    }

    .footer__modal_price {
        color: #3E2723;
    }

    .footer__modal_price a {
        color: #3E2723;
        border-bottom: 1px solid #d7ccc8;
    }

    .footer__modal_price a:hover {
        color: #f4511e;
        border-bottom: 1px solid #ff8a65;
    }

    .footer__modal_link {
        display: flex;
    }

    .footer__modal_links {
        display: block;
        position: relative;
        top: 13px;
    }

    .footer__price_first {
        margin-bottom: 15px;
    }

    .footer__modal_icon {
        display: block;
        position: relative;
        top: 3px;
        margin-right: 2%;
        color: #f4511e;
    }

    .footer__paysystems {
        display: flex;
    }

    .paysystem__img {
        width: 35px;
        margin-right: 16px;
    }

    .paysystem__img_paypal {
        width: 40px;
    }


    .modal__price_btn {
        font-size: 0.7em !important;
    }

    /* @end*/
    /*СТИЛЬ СТРАНИЦЫ УСЛУГИ*/
    /*Предложение*/
    .offer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 45px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .offer__image {
        min-width: 375px;
        height: 375px;
        margin-right: 3%;
    }

    .offer__block {
        width: 60%;
    }

    .offer__collapse_block {
        width: 80%;
        margin-bottom: 25px !important;
    }

    .offer__block_header h1 {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        font-size: 3em;
        margin-bottom: 40px;
        text-align: center;
    }

    .offer__block_text {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .offer__collapse_uslugi {
        font-size: 1.49em;
        padding: 1% !important;
        font-weight: 300;
    }

    .offer__collapse_text {
        font-size: 1.1em;
        font-weight: 300;
    }

    .offer__icon_color {
        color: #f4511e;
    }

    .offer__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .offer__button a {
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 4px !important;
        font-size: 1.3em;
    }

    /* @end */
    /* @ Как получить сайт*/
    .howto {
        max-width: 100%;
        min-height: 300px;
        background-color: #D7CCC8;
    }

    .howto {
        max-width: 100%;
        min-height: 300px;
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .howto__header {
        display: flex;
        justify-content: center;
    }

    .howto__header h2 {
        font-size: 2.8em;
        color: #3E2723;
        margin-bottom: 35px;
    }

    .howto__add_panel {
        display: flex;
        justify-content: space-around;
        margin-left: 5%;
        margin-right: 5%;
    }

    .howto__panel__icon {
        color: #f4511e;
    }

    .howto__panel_item {
        text-align: center;
        font-size: 1.2em;
        font-weight: 300;
        max-width: 20%;
    }

    /*@end*/
    /* @Stuff */
    .stuff {
        max-width: 100%;
        min-height: 300px;
    }

    .stuff__header {
        display: flex;
        justify-content: center;
    }

    .stuff__header h2 {
        font-size: 2.8em;
        margin-top: 0px;
        margin-bottom: 36px;
    }

    .stuff__offer {
        display: flex;
        justify-content: space-around;
        margin-left: 15%;
        margin-right: 15%;
        color: #3E2723;
        bottom: 30px;
    }

    .stuff__block {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 45%;
    }

    .stuff__block_icon {
        min-height: 100px;
        margin-right: 3%;
        color: #f4511e;
    }

    .stuff__block_message h3 {
        display: block;
        position: relative;
        font-size: 1.5em;
        font-weight: 300;
        bottom: 20px;
    }

    .stuff__block_message a {
        color: #3E2723;
        border-bottom: 1px solid #d7ccc8;
    }

    .stuff__block_message a:hover {
        border-bottom: 1px solid #ff8a65;
        color: #f4511e;
    }

    .stuff__text {
        display: block;
        position: relative;
        font-size: 1.2em;
        font-weight: 300;
        text-align: justify;
        bottom: 35px;
        color: #3E2723;
        line-height: 1.9em;
    }

    /* @end */
    /* @Цены*/
    .price {
        max-width: 100%;
        min-height: 400px;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 35px;
    }

    .price__header {
        display: flex;
        justify-content: center;
    }

    .price__header h2 {
        font-size: 2.8em;
        margin-top: 10px;
        margin-bottom: 37px;

    }

    .price__slider__specs {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #f4511e;
        font-size: 0.85em;
        overflow: hidden;

    }

    .price__slider_tab a {
        color: #3E2723 !important;
        font-size: 1.5em !important;
        font-weight: 300;
    }

    .indicator {
        height: 3px;
        background-color: #f4511e !important;
    }

    .price__table {
        margin-bottom: 55px;
        max-width: 100%;
    }

    .price__table tr {
        font-size: 1.3em;
        font-weight: 300;
        border-bottom-color: #ff7043 !important;
    }

    .price__table td {
        width: 40%;
        padding-left: 6%;
    }

    .price__table th {
        padding: 0px;
    }

    .price__table_name {
        padding-left: 15% !important;
    }

    .price__table_name a {
        color: #3e2723 !important;
        border-bottom: 1px solid #d7ccc8 !important;
    }

    .price__table_name a:hover {
        color: #f4511e;
        border-bottom: 1px solid #ff8a65 !important;
    }

    /* @end */
    /* @Нижний блок с услугами */
    .seoblock {
        max-width: 100%;
        min-height: 200px;
        background-color: #D7CCC8;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 40px;
        padding-bottom: 70px;
    }

    .seoblock__header {
        display: flex;
        justify-content: center;
    }

    .seoblock__header h2 {
        font-size: 3em;
        font-weight: 400;
        padding-bottom: 20px;
        text-align: center;
    }

    .seoblock__text {
        font-size: 1.5em;
        font-weight: 300;
        text-align: justify;
    }

    /* @end */
    /* СТРАНИЦА УСЛУГИ */
    .otherservices {
        min-height: 600px;
    }

    .otherservices__header h1 {
        display: flex;
        justify-content: center;
        font-size: 3em !important;
        text-align: center;
    }

    .otherservices__header_text {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        font-weight: 300;
        text-align: center;
    }

    .otherproduct {
        max-width: 100%;
        min-height: 500px;
        padding-bottom: 45px;
        padding-left: 15%;
        padding-right: 15%;
    }

    .otherproduct__block {
        display: flex;
        justify-content: center;
        min-height: 210px;
        max-width: 100%;
        margin-top: 30px;
    }

    .otherproduct__item {
        min-height: 210px;
        width: 45%;
    }

    .otherproduct__item_first {
        margin-right: 6%;
    }

    .otherproduct__item_head {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2% 2% 0 0;
    }

    .otherproduct__head_icon {
        position: relative;
        right: 1.3%;
        color: #f4511e;
        font-size: 2.5em;
    }

    .otherproduct__head_text {
        position: relative;
        bottom: 15px;
    }

    .otherproduct__head_text h3 {
        font-size: 1.5em;
        font-weight: 300;
        margin-bottom: 0 !important;
        color: #3E2723;
    }

    .otherproduct__item_text {
        font-size: 1.2em;
        font-weight: 300;
        text-align: justify;
        color: #3E2723;
        line-height: 1.9em;
    }

    .otherproduct__buttons {
        display: flex;
        justify-content: center;
    }

    .otherproduct__button {
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .otherproduct__button_first {
        margin-right: 40%;
    }

    #modal1, #modal2, #modal3, #modal4 {
        top: 33% !important;
        overflow-y: none !important;
        border-radius: 8px;
    }

    .otherproduct__modal_block {
        display: flex;
        justify-content: space-around;
        padding-top: 35px;
        min-height: 100px;
    }

    .modal__cell {
        display: flex;
        width: 40%;
    }

    .modal__cell_icon {
        font-size: 2.5em;
        color: #f4511e;
        margin-right: 4%;
    }

    .modal__cell_text h3 {
        font-size: 1.5em !important;
        font-weight: 300;
    }

    .modal__cell_text a {
        color: black;
        font-size: 1.2em;
        font-weight: 300;
    }

    .modal__footer_color a {
        border-radius: 4px;
        color: white;
    }

	.modal-footer {
		display: flex;
		justify-content: center;
	}

    /*КОНТАКТНАЯ ФОРМА*/
    .otherservicescontact {
        display: none;
        justify-content: space-around;
        min-width: 100%;
        min-height: 350px;
        background-image: url(../img/otherserviceimg.jpg);
    }

    .otherservicescontact__cell_one {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        color: white;
        text-align: center;
    }

    .otherservicescontact__cell_two {
        display: flex;
        justify-content: center;
        width: 39%;
        padding-top: 33px;
    }

    .otherservicescontact__form {
        width: 100%;
    }

    .otherservicescontact_header {
        font-size: 1.5em;
        color: white;
        margin-bottom: 2px;
    }

    .otherservicescontact__field {
        margin: 0 !important;
        width: 70%;
        color: white;
        font-weight: 200;
    }

    .otherservicescontact__field input {
        font-size: 1.5em !important;
        font-weight: 300;
    }

    .input-field input[type=text]:focus {
        border-bottom: 1px solid #f4511e !important;
        box-shadow: 0 1px 0 0 #f4511e !important;
    }

    .input-field input[type=email]:focus {
        border-bottom: 1px solid #f4511e !important;
        box-shadow: 0 1px 0 0 #f4511e !important;
    }

    .input-field input[type=tel]:focus {
        border-bottom: 1px solid #f4511e !important;
        box-shadow: 0 1px 0 0 #f4511e !important;
    }

    .otherservicescontact__button {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .otherservicescontact__sumbit {
        color: white;
        font-size: 1.2em;
        font-weight: 300;
        margin-bottom: 12px;
    }

    .oferta {
        margin-top: 20px;
    }

    .oferta a {
        color: #3E2723;
        border-bottom: 1px solid #d7ccc8;
    }

    .oferta a:hover {
        border-bottom: 1px solid #ff8a65;
        color: #f4511e;
    }

    /* @end*/
    /* Страница Блог*/
    .blog__head {
        width: 100%;
        min-height: 400px;
        margin-bottom: 40px;
    }

    .blog__head_header {
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
    }

    .blog__head_text {
        width: 100%;
        display: flex;
        position: absolute;
        justify-content: center;
        font-size: 2.5em;
        color: white;
        margin-top: 250px;
    }

    .blog__head_header h1 {
        font-size: 5em;
        color: white;
        padding-top: 20px;
    }

    .blog__head_img {
        overflow: hidden;
    }

    .cover__img {
        height: 400px;
        object-fit: cover;
        object-position: top;
    }

    .blog__navi {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .blog__navi_label {
        font-size: 2em;
        font-size: 1.8em;
        margin-right: 3%;
        color: #3E2723;
    }

    select:focus {
        outline: 1px solid #f4511e !important;
    }

    .blog__navi_select {
        width: 40%;
        font-size: 1.3em;
        font-weight: 300;
    }

    .gridcontainer {
        margin-left: 13%;
        min-height: 800px;
    }

    .gridcontainer h3 {
        font-size: 1.6em !important;
    }

    .gridcontainer h3 a {
        font-weight: 300;
        color: #3E2723;
        margin: 0 !important;
    }

    .gridcontainer .postimage-title {
        padding-left: 5%;
        padding-right: 1%;
        color: #3E2723;
    }

    .gridcontainer .griditemleft {
        float: left;
        height: 400px;
        width: 25%;
        border: 2px solid #f4511e;
        margin-right: 2%;
        margin-bottom: 20px;
        border-radius: 8px;
    }

    .gridcontainer .griditemright {
        float: left;
        position: relative;
        vertical-align: bottom;
        width: 25%;
        height: 400px;
        border: 2px solid #f4511e;
        margin-bottom: 20px;
        border-radius: 8px;
    }

    .gridcontainer .postimage {
        max-width: 100%;
        overflow: hidden;
    }
    .postimage-title a:hover {
        text-decoration: underline;
    }

	.blog__post_oldfix img,
	.postimage > a > img{
		border-radius: 8px 8px 0px 0px;
        height: 220px;
        object-fit: cover;
	}


    .blog__date {
        padding-left: 5%;
        font-size: 1.1em;
        font-weight: 300;
        margin-bottom: 2%;
    }

    .blog__next {
        padding-left: 5%;
        font-size: 1.1em;
        font-weight: 300;
        color: black;
        margin-bottom: 5%;
    }

    .blog__next a {
        color: black;
    }

    .blog__next a:hover {
        text-decoration: underline;
    }


    .blog__pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .blog__links_settings {
        text-decoration: none !important;
    }

    .blog__links_settings:hover {
        border-bottom: 1px solid #3E2723;
    }

    /*@end*/
    /*Шаблон страницы*/
    .page__content {
        max-width: 100%;
        padding-top: 40px;
        font-weight: 300;
    }

    .page__content_header {
        display: flex;
        justify-content: center;
    }

    .page__content_header h1 {
        font-size: 2.8em;
        margin: 10px;
        color: #3E2723;
    }

    .page__content_text {
        text-align: justify;
        font-size: 1.4em;
        color: #3E2723;
        margin-top: 30px;
        padding-left: 7%;
        padding-right: 7%;
        line-height: 40px;
    }

    .page__content_text h4 {
        margin-top: 15px !important;
        margin-bottom: 20px;
        text-align: center;
    }

    .page__content_bold {
        display: block;
        font-weight: 400;
    }

    .page__content_imagepost {
        max-width: 50%;
    }

    .price__page_table tr {
        font-size: 1em !important;
    }

    .price__table_name a {
        color: #3e2723 !important;
        border-bottom: 1px solid #d7ccc8;
    }

    .price__table_name a:hover {
        color: #f4511e !important;
        border-bottom: 1px solid #ff8a65;
    }

    .page__price_header {
        margin-top: 20px;
    }

    .page__price_header h4 {
        margin-top: 0px !important;
        margin-bottom: 30px;
        text-align: center;
    }

    .page__content_text a {
        color: #f4511e;
        border-bottom: 1px solid #f4511e;
    }

    .page__content_list {
        padding-left: 34px !important;
    }

    .page__content_image {
        display: flex;
        justify-content: center;
        margin: 25px 0px 25px 0px;
        overflow-x: hidden;
    }

    .page__content_list li {
        list-style-type: disc !important;
    }

    .page__content_read {
        display: flex;
        justify-content: flex-start;
        max-width: 100%;
    }

    .page__read_color {
        width: 0.3%;
        background-color: #f4511e;
        margin-right: 1.2%;
    }

    .page__sharing {
        font-size: 1.4em;
        color: #f4511e;
        font-weight: 300;
        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 20px;
        margin-top: 15px;
    }

    .page__sharing_day {
        color: #3E2723;
        margin-bottom: 15px;
    }

    /* @end*/
    /*@ Страница Портфолио */
    .seoblock__header h1 {
        text-align: center;
    }

    .owl-item {
        -webkit-backface-visibility: hidden !important;
        -webkit-transform: translateZ(0) scale(1.0, 1.0) !important;
    }

    .ourworks {

        max-width: 100%;
        background-color: #D7CCC8;
        padding-top: 25px;
        padding-bottom: 50px;
    }

    .item__page {

        display: block;
        width: 100%;
        min-height: 700px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 30px;
    }

    .item__block {
        display: flex;
        justify-content: space-around;
    }

    .item__block_first {
        margin-bottom: 15px;
    }

    .item__card {
        /*border: 1px solid slateblue;*/
        /*max-width: 30%;*/
    }

    .seoblock__works {
        background-color: white;
        font-size: 1.4em;
    }

    .item__card_spec {
        font-size: 1.2em;
        font-weight: 300;
        text-align: justify;
        line-height: 2em;
    }

    .item__card_title {
        font-size: 1.4em !important;
    }

    .item__card_link {
        font-size: 1.3em;
        color: #3E2723;
        border-bottom: 1px solid #3E2723;
    }

    .item__card_link:hover {
        color: #f4511e;
        border-bottom: 1px solid #f4511e;
    }

    .item__card_empty {
        background: none;
        box-shadow: none;
    }

    .card {
        margin-top: 0 !important;
    }

    /*@end*/
    /*@Страница контакты*/
    .contactpage__head {
        width: 100%;
        min-height: 400px;
        display: flex;
        justify-content: space-around;
    }

    .contactpage__header {
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
    }

    .contactpage__header_text {
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        font-size: 2.5em;
        color: white;
        margin-top: 250px;
    }

    .contactpage__head h1 {
        font-size: 5em;
        color: white;
        padding-top: 20px;
    }

    .contactpage__image {
        overflow: hidden;
    }

    /*Контакты*/
    .contactpage__info {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 20px;
        padding-bottom: 40px;
        height: 50vh;
    }

    .contactpage__info_header {
        display: flex;
        justify-content: flex-start;
        padding-left: 18.3%;
    }

    .contactpage__info_item {
        width: 25%;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

    .contactpage__date_margin {
        margin-bottom: 15px;
    }

    .contactpage__info_line {
        font-size: 1.8em;
        font-weight: 300;
        justify-content: center;
        display: flex;
    }

    .contactpage__info_phone {
        width: 40%;
        padding-left: 4px;
    }

    .contact__phone_first {
        margin-bottom: 10px;
    }

    .contactpage__info_line a {
        color: #3E2723;
    }

    /*Контактная форма*/
    .contactpage__form_header {
        display: flex;
        justify-content: flex-start;
        padding-left: 18.3%;
    }

    .contactpage__form_header h5 {
        font-size: 2.5em;
        font-weight: 300;
    }

    .contactpage__form {
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 40px;
    }

    .contactpage__form_line {
        display: flex;
        justify-content: center;
    }

    .contactpage__line_item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 25%;
        font-size: 1.6em;
        font-weight: 300;
        padding: 10px;
    }

    .contactpage__line_input {
        width: 40%;
        padding: 4px;
    }

    .contactpage__form_input input {
        font-size: 1.6em !important;
        font-weight: 300;
        margin: 0 !important;
    }

    #textarea1 {
        font-size: 1.6em;
        font-weight: 300;
    }

    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #f4511e !important;
        box-shadow: 0 1px 0 0 #f4511e !important;
    }

    .contactcaptcha {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
    }

    .contactcaptcha__field {
        font-size: 1.6em;
        font-weight: 300;
        width: 25%;
        padding: 10px;
    }

    .contactpage__button {
        display: flex;
        justify-content: center;
        height: 40px;
    }

    .contactpage__button_spec {
        height: 40px !important;
        font-size: 1.2em;
		border-radius: 4px;
    }

    /*@end*/
    /* @404*/
    .downbox {
        width: 100%;
        min-height: 100vh;
        background-image: url(../img/404.jpg);
        padding-left: 10%;
        padding-right: 10%;
        background-size: cover;
    }

    .downbox__text {
        padding-top: 6%;
    }

    .downbox__text_head a {
        font-size: 5em;
        color: white !important;
        margin-bottom: 10px;
    }

    .downbox__text_error {
        font-size: 3em;
        color: white;
        margin-bottom: 30px;
    }

    .downbox__error_help {
        font-size: 2.5em;
        color: white;
        margin-bottom: 30px;
    }

    .downbox__main_page {
        font-size: 2.5em;
        color: white;
        margin-bottom: 30px;
    }

    .downbox__links {
        color: #f4511e;
    }

    .downbox__droplinks {
        color: #f4511e;
        font-size: 2em;
    }

    .downbox__otherpage {
        font-size: 2.5em;
        color: white;
        margin-bottom: 30px;
    }

    .dropdown__otherpage_list {
        display: flex;
        justify-content: space-between;
        font-size: 2.5em;
        color: #f4511e;
        padding-bottom: 6%;
    }

    .dropdown__otherpage_list a {
        color: #f4511e;
    }

    .owl-item {
        -webkit-backface-visibility: hidden !important;
        -webkit-transform: translateZ(0) scale(1.0, 1.0) !important;
    }

    /*@portfolio new*/
    .portfolio__ajax_container {
        background-color: #eeeeee;
    }

    .alm-reveal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 7% 0 10%;
    }

    #ajax-load-more > div.alm-listing.alm-ajax.portfolio__ajax_container > div:nth-child(1) {
        padding-top: 30px;
    }

    .card .card-image img {
        height: auto;
    }

    .activator {
        border-radius: 8px 8px 0px 0px !important;
    }

    .item__card_new {
        max-width: 90%;
        height: auto;
        border-radius: 8px;
    }

    /*@post*/
    .portfolio__post_header {
        justify-content: flex-start;
        padding-left: 7%;
    }

    .portfolio__post_header h1 {
        margin-left: 0;
    }

    .portfolio__item {
        min-height: 400px;
        display: flex;
        justify-content: center;
    }

   .portfolio__image {
        width: 100%;
        max-width: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vmin;
    }

    .portfolio__image_small {
        height: 50vh;
    }

    .portfolio__image_exsmall {
        height: 40vh;
    }

    .portfolio__header_h2 {
         font-size: 1.1em !important;
     }

    .portfolio__description {
        position: relative;
        width: 58%;
        padding-left: 4%;
        bottom: 14px;
    }

    .portfolio_acme{
        height: 54vmin;
        background-position: center;
    }

    .portfolio__post_delimeter {
        margin: 10px 0;
    }
}

/*@end*/



