@media screen and (min-width: 601px) and (max-width: 993px) {

    /* @group Base */
    * {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: "Roboto Condensed";
    }

    body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    a {
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    /* @Mobile Fixes*/
    .seoblock__mobile {
        display: none;
    }

    .mission__header_mobile {
        display: none;
    }

    .footer__contact_mobile {
        display: none;
    }

    .footer__mobile {
        display: none;
    }

    .stuffmobile {
        display: none;
    }

    .pricemobile {
        display: none;
    }

    .offermobile {
        display: none;
    }

    .otherproduct__mobile {
        display: none;
    }

    .gridcontainer {
        display: none;
    }

    .ourworks__mobile {
        display: none;
    }

    .stuff {
        display: none;
    }

    .footer__mobile {
            display: none;
    }

    /* @end*/
    /*СТИЛИ ГЛАВНОЙ СТРАНИЦЫ*/
    /* @Верхний блок контактов*/
    .mobile__contact_form {
        display: none;
    }

    .contact__header {
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        height: 55px;
        background-color: #D7CCC8;
        margin: auto;
        font-size: 1.2em;
        font-weight: 300;
    }

    .contact__mail {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contactpage__messenger {
        justify-content: flex-start !important;
    }

    .contacticon__color {
        filter: invert(13%) sepia(12%) saturate(1835%) hue-rotate(321deg) brightness(102%) contrast(90%) !important;
    }

    .divider__contacts {
        background:#3E2723 !important;
    }


    .contact__icon {
        color: #f4511e;
        margin-right: 5%;
    }

    .contact__mail_send a {
        color: black;
    }

    .contact__phone {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .whatsapp__header {
        filter: invert(36%) sepia(63%) saturate(3174%) hue-rotate(352deg) brightness(101%) contrast(91%) !important;
    }

    .divider__header {
        width: 1px;
        margin: 1px 0;
        background: #f4511e;
    }


    .contact__phone a {
        color: black;
    }

    .contact__form {
        display: none;
    }

    /* @end*/
    /* @Навигационная панель */
    .nav-wrapper {
        background-color: #3E2723;
        height: 65px !important;
    }

    .hide-on-med-and-down {
        display: flex;
        justify-content: center;
        font-size: 1.2em;
        margin-left: 18%;
        margin-right: 18%;
    }

    .brand-logo {
        left: 4%;
    }

    .hide-on-med-and-down a {
        font-size: 1.3em !important;
    }

    .hide-on-med-and-down li {
        display: flex;
        justify-content: center;
        min-width: 15%;
    }

    .nav__button {
        padding-left: 5%;
    }

    .nav__mobile_logo {
        display: flex;
        justify-content: flex-start;
        padding-left: 13%;
        font-size: 2.2em;
        font-weight: 300;
        color: #3E2723;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .nav__mobile_link {
        font-size: 1.4em !important;
        font-weight: 300 !important;
        margin-bottom: 10px !important;
        padding-left: 13% !important;
    }

    .side-nav {
        width: 250px !important;
    }

    /* @end*/

    /* @Слайдер*/
    .swiper-container {
        width: 100%;
        height: 450px;

    }

    .swiper-slide {
        width: 100%

    }
    /* @end*/

    /* @Реклама в слайдере */
    .slider {
        overflow: hidden;
    }

    .slidertext {
        height: 450px;
        width: 100%;
        display: block;
        position: absolute;
        background-color: black;
        z-index:20;
        opacity: 0.65;
    }

    .slidermessage {
        z-index: 100;
        display: block;
        position: relative;
        max-width: 100%;
        min-height: 300px;
        bottom: 420px;
        margin-left: 5%;
        margin-right: 5%;
    }


    .slidermessage__header h1 {
        color: white;
        text-align: center;
        font-size: 3em;
        font-weight: 300;
    }


    .slidermessage__text {
        display: block;
        position: relative;
        margin: auto;
        color: white;
        text-align: center;
        font-size: 1.3em;
        top: 20px;
        font-weight: 300;
    }

    .slidermessage__button{
        display: flex;
        justify-content: center;
    }

    .button__spec {
        border-radius: 4px !important;
        font-size: 1.3em;
        top: 50px;
    }
    /* @end*/

    /* @Услуги*/
    .product {
        display: block;
        position: relative;
        max-width: 100%;
        margin-top: 85px;
    }

    .product__header {
        position: relative;
        top: 15px;
        margin-bottom: 50px;
    }

    .product__header h2 {
        display: flex;
        justify-content: center;
        color: #3E2723;
        font-size: 2.92rem;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .product__block {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        color: #3E2723;
        margin-right: 5%;
        margin-left: 5%;
    }

    .product__cell {
        width: 45%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .product__cell_icon {
        display: block;
        position: relative;
        min-height: 100px;
        color: #f4511e;
        margin-right: 5%;
        right: 2%;
    }

    .product__cell_text h3 {
        display: block;
        position: relative;
        font-size: 1.5em;
        font-weight: 300;
        bottom: 25px;
    }

    .product__cell_text a {
        color: #3E2723;
        border-bottom: 1px solid #d7ccc8;
    }

    .product__cell_text a:hover {
        border-bottom: 1px solid  #ff8a65;
        color: #f4511e;
    }

    .product__text {
        display: block;
        position: relative;
        font-size: 1.3em;
        font-weight: 300;
        bottom: 35px;
        text-align: justify;
    }

    /* @end*/
    /* @Наша миссия */
    .mission {
        padding-top: 20px;
        padding-bottom: 45px;
        background-color: #D7CCC8;
    }

    .mission__header h2 {
        padding-top: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        color: #3E2723;
        font-size: 2.5rem;
    }

    .mission__header_mobile {
        display: none;
    }

    .mission__block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 5px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .mission__blocks_png img {
        display: none;
    }

    .collapsible__header_index {
        font-size: 1.5em;
        padding: 3% !important;
        font-weight: 300;
    }

    .collapsible {
      border-right: 0px !important;
      border-left: 0px !important;
    }

    .mission__icon_color {
        color: #f4511e;
        font-size: 1.6em !important;
        margin-right: 5% !important;
    }

    .mission__blocks_text {
        width: 100%;
        font-size: 1.3em;
        font-weight: 300;
        text-align: justify;
    }

    /* @end*/

    .collapsible-body a {
        color: black !important;
        text-decoration: underline !important;
    }


    /*Mainpage blog*/
    .gridcontainer__mainpage_pad {
        min-height: 550px !important;
        margin:0 !important;
        padding-left: 7%;
    }

    .mainpage__header {
        text-align: center;
        font-family: 'Roboto Condensed';
        color: #3E2723;
        font-size: 2.92rem;
        padding-top: 25px;
    }

    .main__blog_fix {
        margin-right: 5% !important;
    }

    .wp-pagenavi a:hover, .wp-pagenavi span.current {
        border: 1px solid #f4511e !important;
        color: #f4511e;
    }

    .wp-pagenavi a, .wp-pagenavi span {
        border: 1px solid #3E2723 !important;
        color: #3E2723;
    }

    /*@end*/


    /* Footer*/
    .footer {
        background-color: #3E2723;
        max-width: 100%;
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer__our {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%;
        margin-bottom: 10px;
    }

    .footer__logo {
        margin-right: 13%;
    }

    .footer__logo {
        font-size: 2em;
    }

    .footer__blocks {
        font-size: 1.3em;
        font-weight: 200;
        margin-right: 6%
    }

    .footer__blocks a {
        color: white;
    }

    .footer__contact {
        width: 80%;
        margin-right: 10%;
        line-height: 35px;
    }

    .footer__blocks a {
        color: white;
        border-bottom: 1px solid #f9f4f4;
    }

    .footer__blocks a:hover {
        color: #f4511e;
        border-bottom: 1px solid #f4511e;
    }

    .footer__blocks_messenger {
        display: flex;
        justify-content: space-evenly;
        width: 25%;
        margin: 10px 0px 12px 0px;
    }

    .footer__blocks_messenger a, .footer__blocks_messenger a:hover {
        border-bottom: 0px !important;
    }

    .footer__messenger_main {
        height: 23px;
        width: 23px;
        display: block;
        background-size:cover;
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }

    .footer__messenger_whatsapp {
        background-image: url(../img/icons/whatsapp.svg);
    }

    .footer__messenger_telegram {
        background-image: url(../img/icons/telegram.svg);
    }

    .footer__messenger_viber {
        background-image: url(../img/icons/viber.svg);
    }

    .footer__contact a {
        color: white;
        border-bottom: 1px solid #f9f4f4;
    }

    .footer__contact a:hover {
        color: #f4511e;
        border-bottom: 1px solid #f4511e;
    }

    .footer__share {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        font-weight: 200;
        font-size: 1.1em;
    }

    .footer__law {
        width: 73%;
    }

    #modal99 {
        top: 45% !important;
        max-width: 90%;
    }

    .footer__modal_price {
      color: #3E2723;
    }

    .footer__modal_price a {
      color: #3E2723;
      border-bottom: 1px solid #d7ccc8;
    }

    .footer__modal_price a:hover {
      color: #f4511e;
      border-bottom: 1px solid #ff8a65;
    }

    .footer__modal_link {
        display: flex;
    }

    .footer__modal_links {
      display: block;
      position: relative;
      top: 13px;
    }

    .footer__price_first {
      margin-bottom: 15px;
    }

    .footer__modal_icon {
      display: block;
      position: relative;
      top:3px;
      margin-right: 2%;
      color: #f4511e;
    }

    .footer__paysystems {
        display: flex;
    }

    .paysystem__img {
        width: 35px;
        margin-right: 16px;
    }

    .paysystem__img_paypal {
        width: 40px;
    }

    .modal__price_btn {
        font-size: 0.7em !important;
        font-weight: 400;
    }


    /* @end*/
    /*СТИЛЬ СТРАНИЦЫ УСЛУГИ*/
    /*Предложение*/
    .offer {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .offer__image {
        display: none;
    }

    .offer__block {
        width: 100%;
    }

    .offer__collapse_block {
        width: 100%;
        margin-bottom: 10px !important;
    }

    .offer__block_header h1 {
        font-size: 3em;
        text-align: center;
    }

    .offer__block_text {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        text-align: justify;
    }

    .offer__block_text p {
        font-size: 1.2em;
    }

    .offer__collapse_uslugi {
        font-size: 1.5em;
        padding: 1% !important;
        font-weight: 300;
    }

    .offer__collapse_text {
        font-size: 1.1em;
        font-weight: 300;
    }

    .offer__icon_color {
        color: #f4511e;
    }

    .offer__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .offer__button a {
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 4px !important;
        font-size: 1.3em;
    }

    /* @end */
    /* @ Как получить сайт*/
    .howto {
        max-width: 100%;
        min-height: 300px;
        background-color: #D7CCC8;
    }

    .howto {
        max-width: 100%;
        min-height: 300px;
        padding-top: 20px;
        padding-bottom: 48px;
    }

    .howto__header {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .howto__header h2 {
        font-size: 2.92rem;
        color: #3E2723;
    }

    .howto__add_panel {
        display: flex;
        justify-content: space-around;
        margin-left: 5%;
        margin-right: 5%;
    }

    .howto__panel__icon {
        color: #f4511e;
    }

    .howto__panel_item {
        text-align: center;
        font-size: 1.2em;
        font-weight: 300;
        max-width: 20%;
    }

    /*@end*/
    /* @Цены*/
    .price {
        max-width: 100%;
        min-height: 400px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 40px;
    }

    .price__header {
        display: flex;
        justify-content: center;
    }

    .price__header h2 {
        font-size: 2.92rem;
        margin-bottom: 35px;
        margin-top: 0px !important;
        color: #3E2723
    }

    .price__slider__specs {
        border-bottom: 1px solid #f4511e;
    }

    .price__slider_tab a {
        color: #3E2723 !important;
        font-weight: 300;
        padding: 0 !important;
    }

    .indicator {
        height: 3px;
        background-color: #f4511e !important;
    }

    .price__table {
        max-width: 100%;
    }

    .price__table tr {
        font-size: 1.2em;
        font-weight: 300;
        border-bottom-color: #ff7043 !important;
    }

    .price__table td {
        width: 40%;
        padding-left: 6%;
    }

    .price__table th {
        padding: 0px;
    }

    /* @end */
    /* @Stuff */
    .stuff__pad {
        max-width: 100%;
        min-height: 300px;
    }

    .stuff__header {
        display: flex;
        justify-content: center;
    }

    .stuff__header h2 {
        font-size: 2.92rem;
        color: #3E2723;
        margin-bottom: 30px;
    }

    .stuff__offer {
        display: flex;
        justify-content: space-around;
        margin-left: 5%;
        margin-right: 5%;
        color: #3E2723;
    }

    .stuff__block {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 45%;
    }

    .stuff__block_icon {
        display: block;
        position: relative;
        right: 4%;
        min-height: 100px;
        margin-right: 3%;
        color: #f4511e;
    }

    .stuff__block_message h3 {
        display: block;
        position: relative;
        font-size: 1.5em;
        font-weight: 300;
        bottom: 20px;

        color: #3E2723;
    }

    .stuff__block_message a {
        color: #3E2723;
        border-bottom: 1px solid #d7ccc8;
    }

    .stuff__block_message a:hover {
        border-bottom: 1px solid  #ff8a65;
        color: #f4511e;
    }

    .stuff__text {
        display: block;
        position: relative;
        font-size: 1.2em;
        font-weight: 300;
        text-align: justify;
        bottom: 25px;
    }

    /* @end */
    /* @Нижний блок с услугами */
    .seoblock {
        max-width: 100%;
        background-color: #D7CCC8;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .seoblock__header {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .seoblock__header h2 {
        font-size: 2.92rem;
        padding-bottom: 20px;
        color: #3E2723;
        text-align: center;
    }

    .seoblock__text {
        font-size: 1.1em;
        font-weight: 300;
        text-align: justify;
    }

    /* @end */

    /* СТРАНИЦА УСЛУГИ */
    .otherservices {
        min-height: 600px;
        max-width: 100%;
    }

    .otherservices__header {
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }

    .otherservices__header h1 {
        display: flex;
        justify-content: center;
        font-size: 2.22rem;
    }

    .otherservices__header_text {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        font-weight: 300;
        text-align: center;
    }

    .otherproduct {
        max-width: 100%;
        min-height: 500px;
        margin-bottom: 25px;
    }

    .otherproduct__block {
        display: flex;
        justify-content: center;
        min-height: 210px;
        width: 100%;
        margin-top: 10px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .otherproduct__item {
        min-height: 210px;
        width: 45%;
    }

    .otherproduct__item_first {
            margin-right: 6%;
    }


    .otherproduct__item_head {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2% 2% 0 0;
    }

    .otherproduct__head_icon {
        color: #f4511e;
        font-size: 2.5em;
        margin-right: 2%;
    }

    .otherproduct__head_text {
        position: relative;
        bottom: 15px;
    }

    .otherproduct__head_text h3 {
        font-size: 1.5em;
        font-weight: 300;
        margin-bottom: 0 !important;
        color: #3E2723;
    }

    .otherproduct__item_text {
        font-size: 1.2em;
        font-weight: 300;
        text-align: justify;
        color: #3E2723;
    }

    .otherproduct__buttons {
        display: flex;
        justify-content: center;
    }

    .otherproduct__button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .otherproduct__button_first {
            margin-right: 30%;
        }

    #modal1, #modal2, #modal3, #modal4 {
        width: 90%;
        top: 33% !important;
        border-radius: 8px;
    }

    .otherproduct__modal_block {
        display: flex;
        justify-content: space-around;
        padding-top: 35px;
        min-height: 100px;
    }

    .modal__cell {
        display: flex;
        width: 40%;
    }

    .modal__cell_icon {
        font-size: 2.5em;
        color: #f4511e;
        margin-right: 4%;
    }

    .modal__cell_text h3 {
        font-size: 1.5em !important;
        font-weight: 300;
    }

    .modal__cell_text a {
        color: black;
        font-size: 1.2em;
        font-weight: 300;
    }

    .modal-footer a {
        color: white;
        margin-right: 9% !important;
        margin-bottom: 5px !important;
        border-radius: 4px !important;
    }

    .otherservicescontact {
        display: none;
        justify-content: space-around;
        min-width: 100%;
        min-height: 350px;
        background-image: url(../img/otherserviceimg.jpg);
        padding-bottom: 45px;

    }

    .otherservicescontact__cell_one {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        color: white;
        text-align: center;
    }

    .otherservicescontact__cell_one h3 {
        font-size: 2em;
        font-weight: 300;
    }

    .otherservicescontact__cell_two {
        display: flex;
        justify-content: center;
        width: 39%;
        padding-top: 20px;
    }

    .otherservicescontact__form {
        width: 100%;
    }

    .otherservicescontact_header {
        font-size: 1.5em;
        color: white;
        margin-bottom: 2px;
    }

    .otherservicescontact__field {
        margin: 0 !important;
        width: 70%;
        color: white;
        font-weight: 200;
    }

    .otherservicescontact__field input {
        font-size: 1.5em !important;
        font-weight: 300;
    }

    .input-field input[type=text]:focus {
        border-bottom: 1px solid #f4511e !important;
        box-shadow: 0 1px 0 0 #f4511e !important;
    }


    .input-field input[type=email]:focus {
        border-bottom: 1px solid #f4511e !important;
        box-shadow: 0 1px 0 0 #f4511e !important;
    }

    .input-field input[type=tel]:focus {
        border-bottom: 1px solid #f4511e !important;
        box-shadow: 0 1px 0 0 #f4511e !important;
    }

    .otherservicescontact__button {
        display: flex;
        justify-content: flex-start;
        margin-top: 35px;
    }


    .otherservicescontact__sumbit {
        color: white;
        font-size: 1.3em;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .oferta {
        margin-top: 20px;
    }

    .oferta p {
        text-align: justify;
    }

    .oferta a {
        color: #3E2723;
        border-bottom: 1px solid #d7ccc8;
    }

    .oferta a:hover {
        border-bottom: 1px solid  #ff8a65;
        color: #f4511e;
    }

    /* @end*/
    /*@ Страница Портфолио */
    .seoblock__works {
        background-color: white;
        font-size: 1.4em;
        padding-left: 5%;
        padding-right: 5%;
    }

    .seoblock__header h1 {
        font-size: 2em;
        text-align: center;
    }

    .ourworks {
        max-width: 100%;
        background-color: #D7CCC8;
        padding-top: 25px;
        padding-bottom: 50px;
    }

    .item__page {
        display: block;
        width: 100%;
        max-height: 700px;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 30px;
    }

    .item__block {
        display: flex;
        justify-content: space-around;
    }

    .item__block_first {
        margin-bottom: 15px;
    }

    .item__card {
        max-width: 31%;
    }

    .item__card_spec {
        position: relative;
        font-size: 1.3em;
        font-weight: 300;
        line-height: 1.5em;
        top: 20px
    }

    .item__card_title {
        font-size: 1.4em !important;
        line-height: 35px !important;
    }

    .item__card_link {
        font-size: 1.1em;
        color: #f4511e !important;
    }

    .item__card_empty {
        background: none;
        box-shadow: none;

    }

    .card {
        margin-top: 0 !important;
    }

    /*@end*/
    /* Страница Блог*/
    .blog__head {
        display: flex;
        justify-content: space-around;
        min-height: 400px;
        margin-bottom: 40px;
    }

    .blog__head_header {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 100%;
    }

    .blog__head_text {
        display: block;
        position: absolute;
        text-align: center;
        font-size: 2.5em;
        color: white;
        margin-top: 165px;
    }

    .blog__head_header h1 {
        font-size: 5em;
        color: white;
        padding-top: 20px;
        text-align: center;
    }

    .blog__head_img {
        overflow: hidden;
    }

    .cover__img {
        height: 400px;
        object-fit: cover;
        object-position: top;
    }

    .blog__navi {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .blog__navi_label {
        font-size: 2em;
        font-size: 1.8em;
        margin-right: 3%;
        color: #3E2723;
    }

    select:focus {
        outline: 1px solid #f4511e !important;
    }

    .blog__navi_select {
        width: 40%;
        font-size: 1.3em;
        font-weight: 300;
    }

    .gridcontainer__pad {
        margin-left: 5%;
        padding-top: 40px;
        min-height: 800px;
    }

    .gridcontainer__pad h3 {
        font-size: 2em;
        line-height: 30px;
    }

    .gridcontainer__pad h3 a{
        font-weight: 300;
        color: #3E2723;
        margin: 0 !important;
    }

    .gridcontainer__pad .postimage-title {
        padding-left: 5%;
        padding-right: 1%;
        color: #3E2723;
    }

    .gridcontainer__pad .griditemleft{
        float: left;
        height: 450px;
        width: 45%;
        border: 2px solid #f4511e;
        margin-right: 2%;
        margin-bottom: 20px;
		border-radius: 8px;
    }

    .gridcontainer__pad .griditemright{
        float: left;
        position: relative;
        vertical-align: bottom;
        width: 45%;
        height: 450px;
        border: 2px solid #f4511e;
        margin-bottom: 20px;
        border-radius: 8px;
    }

    .gridcontainer__pad .postimage{
        max-width: 100%;
        overflow: hidden;
		border-radius: 8px 8px 0px 0px;
    }

    .postimage-title a:hover {
        text-decoration: underline;
    }

	.blog__post_oldfix img,
	.postimage > a > img{
		border-radius: 8px 8px 0px 0px;
        height: 220px;
        object-fit: cover;
	}

    .blog__date {
        padding-left: 5%;
        font-size: 1.1em;
        font-weight: 300;
        margin-bottom: 2%;
    }

    .blog__next {
        padding-left: 5%;
        font-size: 1.1em;
        font-weight: 300;
        color: black;
        margin-bottom: 5%;
    }

    .blog__next a {
        color: black;
    }

    .blog__next a:hover {
        text-decoration: underline;
    }

    .blog__pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .blog__links_settings{
        text-decoration: none !important;
    }

    .blog__links_settings:hover {
        border-bottom: 1px solid #3E2723;
    }
    /*@end*/

    /*Шаблон страницы*/
    .page__content {
       max-width: 100%;
       padding-top: 40px;
       font-weight: 300;
    }

    .page__content_header {
       display: flex;
       justify-content: center;
    }

    .page__content_header h1 {
       font-size: 2.5em;
       color: #3E2723;
       margin: 10px;
       text-align:center;
    }

    .page__content_text {
       text-align: justify;
       font-size: 1.4em;
       color: #3E2723;
       margin-top: 30px;
       padding-left: 5%;
       padding-right: 5%;
       line-height: 35px;
    }

    .page__content_text h4 {
        margin-top: 15px !important;
        margin-bottom: 20px;
        text-align: center;
    }


    .page__content_text a {
       color: #f4511e;
        border-bottom: 1px solid #f4511e;
    }

    .page__price_header h3 {
      font-size: 1.6em;
      margin-bottom: 30px;
    }

    .page__price_header h4 {
      margin-top: 0;
      margin-bottom: 25px;
      text-align: center;
    }

    .price__page_table {
      margin-bottom: 30px;
    }

    .price__table_name a{
      color: #3e2723 !important;
      border-bottom: 1px solid #d7ccc8;
    }

    .price__table_name a:hover {
        color: #f4511e !important;
        border-bottom: 1px solid #ff8a65;
    }

    .page__content_list {
        padding-left:34px !important;
    }

    .page__content_image {
        display:flex;
        justify-content: center;
        margin: 25px 0px 25px 0px;
        overflow-x: hidden;
    }

    .page__content_imagepost {
        max-width: 75%;
    }

    .page__content_list li {
        list-style-type: disc !important;
    }

    .page__content_read {
       display: flex;
       justify-content: flex-start;
       max-width: 100%;
    }

    .page__read_color {
       width: 0.3%;
       background-color: #f4511e;
       margin-right: 1.2%;
    }

    .page__sharing {
        font-size: 1.3em;
        color: #f4511e;
        font-weight: 300;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 10px;
        padding-bottom: 20px;
    }

    .paging__share_text {
        margin-bottom: 20px;
    }

    .page__sharing_day {
        color: #3E2723;
        margin-bottom: 10px;
    }
    /* @end*/

    /*@Страница контакты*/
    .contactpage__head {
        max-width: 100%;
        max-height: 300px;
        display: flex;
        justify-content: space-around;
    }

    .contactpage__header {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 100%;
    }

    .contactpage__header_text {
        display: flex;
        width: 100%;
        position: absolute;
        justify-content: center;
        font-size: 1.8em;
        color: white;
        margin-top: 165px;
    }

    .contactpage__head h1 {
        font-size: 5em;
        color: white;
        padding-top: 20px;
    }

    .contactpage__image {
        overflow: hidden;
    }

    /*Контакты*/
    .contactpage__info {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .contactpage__info_header {
        display: flex;
        justify-content: flex-start;
    }

    .contactpage__info_item {
        margin-bottom: 5px;
    }

    .contactpage__date_margin {
        margin-bottom: 15px;
    }

    .contactpage__info_line {
        font-size: 2em;
        font-weight: 300;
    }

    .contact__phone_first {
        margin-bottom: 15px;
    }

    .contactpage__info_line a {
        color: #3E2723;
    }

    /*Контактная форма*/
    .contactpage__form {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 40px;
    }

    .contactpage__form_line {
        display: flex;
        justify-content: center;
    }

    .contactpage__line_item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 60%;
        font-size: 1.6em;
        font-weight: 300;
    }

    .contactpage__line_input {
        width: 75%;
        padding: 4px;
    }

    .contactpage__form_input input {
        font-size: 1.6em !important;
        font-weight: 300;
        margin: 0 !important;
    }

    #textarea1 {
        font-size: 1.6em;
        font-weight: 300;
    }

    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #f4511e !important;
        box-shadow: 0 1px 0 0 #f4511e !important;
    }

    .contactcaptcha {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }

    .contactcaptcha__field {
        font-size: 1.6em;
        font-weight: 300;
        width: 60%
    }

    .contactpage__button {
        display: flex;
        justify-content: center;
        height: 40px;
    }

    .contactpage__button_spec {
        height: 40px !important;
        font-size: 1.2em;
		border-radius: 4px;
    }

    /*@end*/
    /* @404*/
    .downbox {
        width: 100%;
        min-height: 100vh;
        background-image: url(../img/404.jpg);
        padding-left: 8%;
        padding-right: 5%;
        font-weight: 300;
    }

    .downbox__text {
        padding-top: 8%;
    }

    .downbox__text_head a {
        font-size: 5em;
        color: white !important;
        margin-bottom: 10px;
    }

    .downbox__text_error {
        font-size: 3em;
        color: white;
        margin-bottom: 30px;
    }

    .downbox__error_help {
        font-size: 2em;
        color: white;
        margin-bottom: 30px;
    }

    .downbox__main_page {
        font-size: 2em;
        color: white;
        margin-bottom: 30px;
    }

    .downbox__links {
        color: #f4511e;
    }

    .downbox__droplinks {
        color: #f4511e;
        font-size: 2em;
    }

    .downbox__otherpage {
        font-size: 2em;
        color: white;
        margin-bottom: 30px;
    }

    .dropdown__otherpage_list {
        display: flex;
        justify-content: space-between;
        font-size: 1.8em;
        color: #f4511e;
        padding-bottom: 8%;
    }

    .dropdown__otherpage_list a {
        color: #f4511e;
    }

    /*@end*/

    /*@portfolio page*/
    .portfolio__ajax_container {
        background-color: #eeeeee;

    }

    .alm-reveal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5px 0% 5px 6%;
    }

    #ajax-load-more > div.alm-listing.alm-ajax.portfolio__ajax_container > div:nth-child(1) {
        padding-top: 20px;
    }

    .card .card-image img {
        height: auto;
    }

    .activator {
        border-radius: 8px 8px 0px 0px !important;
    }

    .item__card_new {
        max-width: 90%;
        height: auto;
        border-radius: 8px;
    }

    .item__card_link {
        font-size: 1.1em;
        font-family: 'Roboto Condensed';
        color: #3E2723 !important;
        border-bottom: 1px solid #3E2723;
    }

    .item__card_link:hover {
        color: #f4511e !important;
        border-bottom: 1px solid #f4511e;
    }

    /*@portfolio new*/

    .portfolio__post_header {
        justify-content: flex-start;
        padding-left: 5%;
    }

    .portfolio__post_header h1 {
        margin-left: 0;
    }

    .portfolio__header_h2 {
        font-size: 1.1em !important;
    }

    .portfolio__image {
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        height: 450px;
        margin-bottom: 25px;
    }

    .portfolio__post_delimeter {
        margin: 10px 0;
    }

    .portflio__mobile_block {
        margin-bottom: 15px;
    }

}
