/*
wp-pagenavi CSS in /plugin/wp-pagenavi

*/

.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	color: #444;
	text-decoration: none;
	padding: 3px 5px;
	margin: 4px;
	font-size: 1.4em;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background-color: #f4511e;
	color: white;
}

.wp-pagenavi span.current {
	font-weight: bold;
	color: white;

}
