@media screen and (max-width: 600px) {

    /* @group Base */


    html, body {
        height: 100%;
        overflow:auto;
        font-family: "Roboto Condensed";

        /* fix flashing footer position: fixed; */
        padding-bottom: 1px !important;
    }

    /* html{
        overflow: hidden;
        height: 100%;
        padding-top: 1px !important;
      }

    body{
        overflow: auto;
        height: 100%;
    } */

    * {
        margin:  0;
        padding: 0;
        font-family: 'Roboto Condensed';
        font-weight: 300;
    }

    a {
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

	.red.accent-4 {
		border-radius: 4px;
	}
    /* @end */

    /* @Deskop Fixes*/
    .slider {
        display: none;
    }

    .offer {
        display: none;
    }

    .price {
        display: none;
    }

    .stuff {
        display: none;
    }

    .howto {
        display: none;
    }
    .otherproduct {
        display: none;
    }
    .ourworks {
        display: none;
    }

    .stuff__pad {
        display: none;
    }

    .gridcontainer__pad {
        display: none;
    }


    /*@end*

    /*СТИЛИ ГЛАВНОЙ СТРАНИЦЫ*/
    /* @Верхний блок контактов*/
    .contact__header {
        display: none;
    }
    /* @end*/

    /* @Навигационная панель */
    .nav-wrapper {
        background-color: #3E2723;
    }

    .brand-logo {
        left: 4%;
    }

    .nav__button {
        padding-left: 5%;
    }

    .nav__mobile_logo {
        display: block;
        color: #3E2723;
        font-size: 2em;
        margin-top: 30px;
        margin-left: 10%;
        margin-bottom: 25px;
    }

    .nav__mobile_link {
        font-size: 1.4em !important;
        font-weight: 300 !important;
        margin-bottom: 10px !important;
        padding-left: 10% !important;
    }

    .side-nav {
        width: 250px !important;
    }
    /* @end*/

    /*Mainpage blog*/
    .main__page {
        padding-bottom: 60px;
    }

    .gridcontainer__mainpage_pad {
        min-height: 550px !important;
        margin:0 !important;
    }

    .mainpage__header {
        text-align: center;
        font-family: 'Roboto Condensed';
        color: #3E2723;
        font-size: 2.92rem;
        padding-top: 25px;
    }

    .wp-pagenavi a:hover, .wp-pagenavi span.current {
        border: 1px solid #f4511e !important;
        color: #f4511e;
    }

    .wp-pagenavi a, .wp-pagenavi span {
        border: 1px solid #3E2723 !important;
        color: #3E2723;
    }



    /*@end*/

    /* @SEO блок*/
    .seoblock__mobile {
        max-width: 100%;
        background-color: #D7CCC8;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1.4em;
        font-weight: 300;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    /* @end*/

    /* @Услуги*/
    .product {
        display: block;
        position: relative;
        max-width: 100%;
        padding-bottom: 20px;
    }

    .product__header h2 {
        display: flex;
        justify-content: center;
        font-family: 'Roboto Condensed';
        color: #3E2723;
        font-size: 2.92rem;
        margin-bottom: 25px;
    }

    .product__block {
        margin-left: 5%;
        margin-right: 5%;
        color: #3E2723;
    }

    .product__cell {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 1.1em;
    }

    .product__cell_icon {
        display: block;
        position: relative;
        min-height: 100px;
        color:#f4511e;
        margin-right: 2%;
        right: 6px;
    }

    .product__cell_text h3 {
        display: block;
        position:relative;
        font-size: 1.5em;
        font-weight: 300;
        bottom:25px;
    }

    .product__cell_text a {
        color: #3E2723;
        border-bottom: 1px solid #d7ccc8;
    }

    .product__cell_text a:hover {
        border-bottom: 1px solid  #ff8a65;
        color: #f4511e;
    }

    .product__text {
        display:block;
        position: relative;
        font-size: 1.2em;
        font-weight: 300;
        bottom: 35px;
        text-align: justify;
    }
    /* @end*/

    /* @Наша миссия */
    .mission {
        padding-top: 10px;
        padding-bottom: 70px;
        background-color: #D7CCC8;
    }

    .mission__header h2 {
        display: none !important;
    }

    .mission__header_mobile {
        display: flex;
        justify-content: center;
        color: #3E2723;
        margin-left: 5%;
        margin-right: 5%;
    }

    .mission__header_mobile h3 {
        font-size: 2.3em;
        text-align: center;

    }

    .collapsible__body_mobile {
        font-size: 1.1em;
    }

    .collapsible {
      border-right: 0px !important;
      border-left: 0px !important;
    }

    .mission__block {
        margin-left: 3%;
        margin-right: 3%;
    }

    .mission__blocks_png {
        display: none !important;
    }

    .collapsible-header {
        font-size: 1.2em !important;
    }

    .collapsible__header_index {
        font-size: 1.3em;
        padding: 6% !important;
        font-weight: 300;
    }

    .mission__icon_color {
        color:#f4511e;
        font-size: 1.6em !important;
        margin-left: 5%;
    }

    .mission__blocks_text {
        font-size: 1.2em;
        font-weight: 300;
        text-align: justify;
    }
    /* @end*/

    .collapsible-body a {
        color: black !important;
        text-decoration: underline !important;
    }

    /* Footer*/
    .footer {
        display: none;
        background-color: #3E2723;
        max-width: 100%;
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .footer__our {
        display: flex;
        justify-content:center;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        max-width: 100%;
    }

    .footer__blocks {
        display: none;
    }

    .footer__blocks a {
        color: white;
    }

    .footer__contact a {
        color: white;
        border-bottom: 1px solid #f9f4f4;
    }

    .footer__contact a:hover {
        color: #f4511e;
        border-bottom: 1px solid #f4511e;
    }

    .footer__share {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        font-weight: 300;
        font-size:1.1em;
    }

    .footer__sharing {
        display: none;
    }

    .footer__contact {
        display: none;
    }

    .footer__contact_mobile {
        font-size: 1.4em;
    }

    .footer__mobile {
        display: block;
        position: fixed;
        left:0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #3E2723;
        z-index: 9994;
    }

    .footer__mobile_number {
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        margin-top: 10px;

    }
    .footer__mobile_number a {
        color: white;
    }

    .footer__blocks_messenger {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 10px 0px 12px 0px;
    }

    .footer__blocks_messenger a, .footer__blocks_messenger a:hover {
        border-bottom: 0px !important;
    }

    .footer__messenger_main {
        height: 25px;
        width: 25px;
        display: block;
        background-size:cover;
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }

    .footer__messenger_whatsapp {
        background-image: url(../img/icons/whatsapp.svg);
    }

    .footer__messenger_telegram {
        background-image: url(../img/icons/telegram.svg);
    }

    .footer__messenger_viber {
        background-image: url(../img/icons/viber.svg);
    }

    .divider__header {
        width: 1px;
        margin: 1px 0;
        background: white;
    }
    /* @end*/

    /*СТИЛЬ СТРАНИЦЫ УСЛУГИ*/

    .pricemobile__collapse_header {
        font-size: 1.35rem !important;
        font-weight: 300;
        padding: 5% !important;
    }

    .pricemobile__collapse_icon {
        color: #f4511e;
    }

    /*Предложение*/
    .offermobile {
        max-width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .offermobile__text {
        font-size: 1.3em;
        font-weight: 300;
        padding-left: 10% !important;
        text-align: justify;
    }
    /* @end */

    /* @Цены*/
    .pricemobile {
        max-width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .pricemobile__header h3 {
        font-size: 2.3em;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .pricecollapse__text td {
        font-size: 1.1em;
        font-weight: 300;
        padding-left: 3% !important;
    }

    .pricecollapse__text tr {
        border-bottom-color: #ff7043 !important;
    }
    /* @end */

    /* @Stuff */
    .stuffmobile {
        max-width:100%;
        min-height: 300px;
    }

    .stuff__header{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    .stuff__header h2{
        font-size: 2.3em;
    }

    .stuff__offer {
        margin-left: 5%;
        margin-right: 5%;
        color: #3E2723;
        bottom: 30px;
    }

    .stuff__block {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: 100%;
    }

    .stuff__block_icon {
        min-height: 100px;
        margin-right: 3%;
        color: #f4511e;
    }

    .stuff__block_message h3 {
        display: block;
        position: relative;
        font-size: 1.5em;
        font-weight: 300;
        bottom: 20px;
    }

    .stuff__block_message a {
        color: #3E2723;
        border-bottom: 1px solid #d7ccc8;
    }

    .stuff__block_message a:hover {
        border-bottom: 1px solid  #ff8a65;
        color: #f4511e;
    }

    .stuff__text {
        display: block;
        position: relative;
        font-size: 1.3em;
        font-weight: 300;
        text-align: justify;
        bottom: 35px;
    }
    /* @end */

    /* @Нижний блок с услугами */
    .seoblock {
        max-width: 100%;
        min-height: 200px;
        background-color: #D7CCC8;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 75px;
    }

    .seoblock__header {
        display: flex;
        justify-content: center;
    }

    .seoblock__header h2{
        font-size: 2em;
        font-weight: 300;
        text-align: center;
    }

    .seoblock__text {
        font-size: 1.3em;
        font-weight: 300;
        text-align: justify;
    }
    /* @end */


    /* СТРАНИЦА УСЛУГИ */
    .otherservices {
        min-height: 600px;
        max-width: 100%;
    }

    .otherservices__header h1 {
        text-align: center;
        font-size: 2.4em !important;
    }

    .otherservices__header_text {
        display: flex;
        justify-content: center;
        font-size: 1.4em;
        font-weight: 300;
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
    }

    .otherproduct__mobile {
        padding-bottom: 30px;
    }

    .otherproduct__block {
        min-height: 210px;
        width: 100%;
        margin-top: 30px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .otherproduct__item {
        min-height: 210px;
        width: 100%;
    }

    .otherproduct__item_head {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 5px;
    }

    .otherproduct__head_icon {
        color: #f4511e;
        font-size: 2.5em;
        margin-top: 10px;
        margin-right: 2%;
    }

    .otherproduct__head_text {
        position: relative;
        bottom: 12px;
    }

    .otherproduct__head_text h3{
        font-size: 1.5em;
        font-weight: 300;
        margin-bottom: 0 !important;
        color: #3E2723;
    }

    .otherproduct__item_text {
        font-size: 1.3em;
        font-weight: 300;
        text-align: justify;
        color: #3E2723;
    }

    .otherproduct__buttons {
        display: flex;
        justify-content: space-around;
    }

    .otherproduct__button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .modal__cell {
        display: flex;
        margin-bottom: 33px;
        margin-left: 2%;
    }

    .modal__cell_first {
        margin-top: 15px;
    }

    .modal__cell_last {
        margin-bottom: 15px;
    }

    .modal__cell_icon {
        font-size: 2.5em;
        color: #f4511e;
        margin-right: 10%;
    }

    .modal__cell_text h3 {
        font-size: 1.5em !important;
        font-weight: 300;
    }

    .modal__cell_text a {
        color: black;
        font-size: 1.2em;
        font-weight: 300;
    }

    .modal-footer a {
        color: white;
        margin-right: 10% !important;
        border-radius: 4px !important;
    }

    .otherservicescontact {
        display: none;
        min-width: 100%;
        min-height: 350px;
        background-image: url(../img/otherserviceimg.jpg);
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 50px;
    }

    .otherservicescontact__cell_one {
        display: flex;
        justify-content: center;
    }

    .otherservicescontact__cell_one h3 {
        font-size: 2.3em !important;
        width: 100%;
        color: white;
        text-align: center;
    }

    .otherservicescontact__cell_two {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .otherservicescontact_header {
        font-size: 1.5em;
        color: white;
        margin-bottom: 2px;
    }

    .otherservicescontact__field {
        margin: 0 !important;
        color: white;
        font-weight: 200;
    }

    .otherservicescontact__field input {
        font-size: 1.5em !important;
        font-weight: 300;
    }

    .input-field input[type=text]:focus {
         border-bottom: 1px solid #f4511e !important;
         box-shadow: 0 1px 0 0 #f4511e !important;
    }


    .input-field input[type=email]:focus {
        border-bottom: 1px solid #f4511e !important;
        box-shadow: 0 1px 0 0 #f4511e !important;
    }

    .input-field input[type=tel]:focus {
        border-bottom: 1px solid #f4511e !important;
        box-shadow: 0 1px 0 0 #f4511e !important;
    }

    .otherservicescontact__button  {
         display: flex;
         justify-content: center;
         margin-top: 20px;
         margin-bottom: 20px;
     }

     .otherservicescontact__sumbit {
        color: white;
        font-size: 1em;
        font-weight: 300;
        margin-bottom: 18px;
    }

    .oferta {
        margin-top: 20px;
    }

    .oferta p {
        text-align: justify;
    }

    .oferta a {
        color: #3E2723;
        border-bottom: 1px solid #d7ccc8;
    }

    .oferta a:hover {
        border-bottom: 1px solid  #ff8a65;
        color: #f4511e;
    }
    /* @end*/

    /* Страница Блог*/
    .blog__head {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-height: 300px;
        position: relative;
    }

    .blog__head_header {
        display: flex;
        width: 100%;
        position: absolute;
        justify-content: center;
    }

    .cover__img {
        height: 400px;
        object-fit: cover;
        object-position: top;
    }


    .blog__head_text {
        display: block;
        position: absolute;
        text-align: center;
        font-size: 1.8em;
        color: white;
        margin-top: 165px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .blog__head_header h1 {
        font-size: 5em;
        color: white;
        padding-top: 20px;
    }

    .blog__head_img {
        overflow: hidden;
    }

    .blog__navi {
        margin-bottom: 20px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .blog__navi_label {
        display: flex;
        justify-content: center;
        font-size: 2em;
        color: #3E2723;
        margin-top: 10px;
    }

    select:focus {
      outline: 1px solid #f4511e !important;
    }

    .blog__navi_select {
        width: 100%;
        font-size: 1.3em;
        font-weight: 300;
    }

    .gridcontainer {
        min-height: 800px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 40px;
        margin-bottom:  30px;
    }

    .gridcontainer h3 {
        margin: 0;
        line-height: 30px;
    }

    .gridcontainer h3 a{
        font-size: 0.5em;
        font-weight: 300;
        color: #3E2723 !important;
    }

    .gridcontainer .postimage-title {
        padding-left: 5%;
        padding-right: 1%;
        color: #3E2723;
    }

    .gridcontainer .griditemleft{
        display: block;
        max-width: 100%;
        border: 2px solid #f4511e;
        margin-bottom: 30px;
		border-radius: 8px;
    }

    .gridcontainer .griditemright{
        display: block;
        max-width: 100%;
        border: 2px solid #f4511e;
        margin-bottom: 30px;
        border-radius: 8px;
    }

    .gridcontainer .postimage{
        max-width: 100%;
        overflow: hidden;
    }

    .postimage-title a:hover {
        text-decoration: underline;
    }

	.blog__post_oldfix img,
	.postimage > a > img{
		border-radius: 8px 8px 0px 0px;
        height: 220px;
        object-fit: cover;
	}

    .blog__post_oldfix img {
        width:100%;
    }

    .blog__date {
        margin-top: 5px;
        padding-left: 5%;
        font-size: 1.1em;
        font-weight: 300;

    }

    .blog__next {
        padding-left: 5%;
        font-size: 1.1em;
        font-weight: 300;
        color: black;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .blog__next a {
        display: block;
        width: 34%;
        color: black;
    }

    .blog__next a:hover {
        text-decoration: underline;
    }

    .blog__pagination {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }

    .blog__links_settings{
        text-decoration: none !important;
    }

    .blog__links_settings:hover {
        border-bottom: 1px solid #3E2723;
    }

    /*@end*/

    /*Шаблон страницы*/
    .page__content {
       max-width: 100%;
       padding-top: 40px;
       font-weight: 300;
    }

    .page__content_header {
       display: flex;
       justify-content: center;
    }

    .page__content_header h1 {
       font-size: 2.8em;
       color: #3E2723;
       margin: 10px;
       text-align:center;
    }

    .page__content_text {
       text-align: justify;
       font-size: 1.4em;
       color: #3E2723;
       margin-top: 30px;
       padding-left: 5%;
       padding-right: 5%;
    }

     .page__price_header h3{
      font-size: 2.28rem;
      text-align: center;

    }

    .page__price_header h4 {
      margin-top: 0px !important;
      margin-bottom: 25px;
      text-align: center;
    }

    .price__header_mobile {
        margin-top: 20px;
    }

    .price__page_table {
      margin-bottom: 30px;
    }

    .price__table_name a{
      color: #3e2723 !important;
      border-bottom: 1px solid #d7ccc8;
    }

    .price__table_name a:hover {
        color: #f4511e !important;
        border-bottom: 1px solid #ff8a65;
    }

    .price__page_table tr {
          border-bottom: 1px solid #f4511e !important;
        }

    .page__content_text a {
       color: #f4511e;
        border-bottom: 1px solid #f4511e;
    }

    .page__content_list {
        padding-left:20px !important;
    }

    .page__content_image {
        display:none;
    }

    .page__content_imagepost {
        max-width: 100%;
    }
    .page__content_list li {
        list-style-type: disc !important;
    }

    .page__content_read {
       display: flex;
       justify-content: flex-start;
       max-width: 100%;
    }

    .page__read_color {
       width: 0.3%;
       background-color: #f4511e;
       margin-right: 1.2%;
    }

    .page__sharing {
        font-size: 1.3em;
        color: #f4511e;
        font-weight: 300;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 20px;
    }

    .footer__share_text {
        margin-bottom: 20px;
    }

    .page__sharing_day {
        color: #3E2723 ;
    }

    .page__drop_mobile {
        display: none;
    }

    /* @end*/

    /*@ Страница Портфолио */
    .ourworks__mobile {
        max-width: 100%;
        background-color: #D7CCC8;
        padding-top: 5px;
        padding-bottom: 40px;
    }

    .seoblock__works {
        background-color: white;
        font-size: 1.2em;
        padding-bottom: 30px;
    }

    .seoblock__works h1{
        font-size: 2.3em;
        text-align: center;
        color: #3E2723;
    }

    .ourworks__mobile_header h3 {
        font-size: 2.3em;
        text-align: center;
        color: #3E2723;
    }

    .item__card_spec {
        font-size: 1.5em;
        font-weight: 300;
        text-align: justify;
        line-height: 2em;
    }

    .item__card_title {
        font-size: 1.3em !important;
    }

    .item__card_link {
        font-size: 1.1em;
        color: #f4511e !important;
    }
    /*@end*/

    /*@Страница контакты*/

    .desktop__contact_form {
        display:none;
    }

    .contactpage__head {
        max-width: 100%;
        max-height: 300px;
        display: flex;
        justify-content: space-around;
        position: relative;
    }

    .contactpage__header {
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: center;
    }

    .contactpage__header_text {
        display: block;
        position: absolute;
        text-align: center;
        font-size: 1.8em;
        color: white;
        margin-top: 165px;
    }

    .contactpage__head h1 {
        font-size: 5em;
        color: white;
        padding-top: 20px;
    }

    .contactpage__image {
        overflow:hidden;
    }

    /*Контакты*/
    .contactpage__info {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .contactpage__info_header {
        display: flex;
        justify-content: flex-start;
    }

    .contactpage__info_item {
        margin-bottom: 5px;
    }

    .contactpage__date_margin {
        margin-bottom: 15px;
    }

    .contactpage__info_line {
        font-size: 2em;
        font-weight: 300;
    }

    .contact__phone_first {
        margin-bottom: 15px;
    }

    .contactpage__info_line a {
        color: #3E2723;
    }

    .contacts__messenger_grid {
        display: none;
    }

    /*Контактная форма*/
    .contactpage__form {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 85px;
    }


    .contactpage__form_line {
        display: flex;
        justify-content: center;
    }

    .contactpage__line_item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 60%;
        font-size: 1.6em;
        font-weight: 300;
    }

    .contactpage__line_input {
        width:75%;
        padding: 4px;
    }

    .contactpage__form_input input {
        font-size: 1.6em !important;
        font-weight: 300;
        margin: 0 !important;
    }

    #textarea1 {
        font-size: 1.6em;
        font-weight: 300;
    }

    textarea.materialize-textarea:focus:not([readonly]) {
         border-bottom: 1px solid #f4511e !important;
         box-shadow: 0 1px 0 0 #f4511e !important;
    }

    .contactcaptcha {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
        align-items: center;
    }

    .contactcaptcha__field {
        font-size: 1.6em;
        font-weight: 300;
        width: 60%
    }

    .recaptcha__width {
        width: 20% !important;
    }
    .contactpage__button {
        display: flex;
        justify-content: center;
        height: 40px;
    }

    .contactpage__button_spec {
        height: 40px !important;
        font-size: 1.2em;
		border-radius: 4px;
    }
    /*@end*/

    /* @404*/
    .downbox {
        width: 100%;
        min-height: 100vh;
        background-image: url(../img/404.jpg);
        padding-left: 5%;
        padding-right: 5%;
        background-size: cover;
    }

    .downbox__text_head  a {
        font-size: 4.5em;
        color: white !important;
        margin-bottom: 10px;
    }

    .downbox__text_error {
        font-size: 2.2em;
        color: white;
        margin-bottom: 30px;
    }

    .downbox__error_help {
        font-size: 2.2em;
        color: white;
        margin-bottom: 30px;
    }

    .downbox__main_page {
        font-size: 2.2em;
        color: white;
        margin-bottom: 30px;
    }

    .downbox__links {
        color: #f4511e;
    }

    .downbox__droplinks {
        color: #f4511e;
        font-size: 2em;
    }

    .downbox__otherpage {
        display:none;
        font-size: 2.5em;
        color: white;
        margin-bottom: 30px;
    }

    .dropdown__otherpage_list {
        display: flex;
        justify-content: space-between;
        font-size: 2.5em;
        color: #f4511e;
    }

    .dropdown__otherpage_list a {
        display: none;
    }
    /*@end*/


    /*@portfolio page*/
    .portfolio__ajax_container {
        background-color: #eeeeee;
    }
    .alm-reveal {
        padding: 5px 5% 5px 5%
    }
    #ajax-load-more>div.alm-listing.alm-ajax.portfolio__ajax_container>div:nth-child(1) {
        padding-top: 20px;
    }

    .card .card-image img {
        height: auto;
    }

    .item__card_new {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .activator {
        border-radius: 8px 8px 0px 0px !important;
    }


    .item__card_link {
        font-size: 1.15em;
        font-family: 'Roboto Condensed';
        color: #3E2723 !important;
        border-bottom: 1px solid #3E2723;
    }

    .item__card_link:hover {
        color: #f4511e !important;
        border-bottom: 1px solid #f4511e;
    }


    /*@portfolio new*/
    .portfolio__post_mobile {
        padding-top: 20px;
    }
    .portfolio__post_header {
        justify-content: center;
        padding-left: 5%;
    }
    .portfolio__post_header h1 {
        font-size: 2em;
        margin-left: 0;
    }

    .portfolio__header_h2 {
        font-size: 1.1em !important;
    }

    .portfolio__post_delimeter {
        margin: 10px 0;
    }
    .portflio__mobile_block {
        margin-bottom: 15px;
    }
    .portfolio__image {
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        min-height: 200px;
        margin-bottom: 25px;
    }
    .portfolio__description {
        line-height: 35px;
    }
}
