.alm-btn-wrap .alm-load-more-btn {
    background: #f4511e !important;
}
.portfolio__image_glushitel {
    background-image: url("/wp-content/uploads/2020/02/iii-2.png");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_matriks {
    background-image: url("/wp-content/uploads/2020/02/matriks2020.png");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_beinunison {
    background-image: url("/wp-content/uploads/2020/02/beinunison2020.png");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_caproject {
    background-image: url("/wp-content/uploads/2020/02/caproject2020.png");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_lampegras {
    background-image: url("/wp-content/uploads/2020/02/lampegras2020.png");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_forumprofan {
    background-image: url("/wp-content/uploads/2020/02/forumprofan2020.png");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_avariyka {
    background-image: url("/wp-content/uploads/2020/02/avariyka2020.png");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_lenrc {
    background-image: url("/wp-content/uploads/2020/02/lenrc2.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_scannik {
    background-image: url("/wp-content/uploads/2020/02/scannik2020.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_svoedelo {
    background-image: url("/wp-content/uploads/2020/02/svoedelo2020.png");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_sportpk {
    background-image: url("/wp-content/uploads/2020/02/sportpk-res.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_vaslg {
    background-image: url("/wp-content/uploads/2020/02/vlg2020.png");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_vashglavbuh {
    background-image: url("/wp-content/uploads/2020/02/glavbuh2020.png");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_bykasl2020 {
    background-image: url("/wp-content/uploads/2020/02/bykasl2020-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_gintonicbar {
    background-image: url("/wp-content/uploads/2020/02/gintonic2020-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_itc2020 {
    background-image: url("/wp-content/uploads/2020/02/itcserver2020-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_bar812-2020 {
    background-image: url("/wp-content/uploads/2020/02/bar812c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_sandergarant {
    background-image: url("/wp-content/uploads/2020/02/sandergarant2020-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_bestmoodbox {
    background-image: url("/wp-content/uploads/2020/02/bestmoodbox2020-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_hariola {
    background-image: url("/wp-content/uploads/2020/02/hariola2020-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_aeterna {
    background-image: url("/wp-content/uploads/2020/02/aeterna2020-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_aerograf {
    background-image: url("/wp-content/uploads/2020/02/aero53-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_kladbaza {
    background-image: url("/wp-content/uploads/2020/02/kladbaza-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_acme {
    background-image: url("/wp-content/uploads/2020/02/acme2020-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_nailart {
    background-image: url("/wp-content/uploads/2020/02/nailart-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_gdenevesta {
    background-image: url("/wp-content/uploads/2020/02/gdenevesta-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_piterles {
    background-image: url("/wp-content/uploads/2020/02/piterles-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_nepspbru {
    background-image: url("/wp-content/uploads/2020/09/nepspbru-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.portfolio__image_vendetta {
    background-image: url("/wp-content/uploads/2020/12/vendetta-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.portfolio__image_sbmarket {
    background-image: url("/wp-content/uploads/2022/04/sbmarket-c.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.portfolio__image_dinastica {
    background-image: url("/wp-content/uploads/2022/06/dinastica-с.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.portfolio__image_castoreNew {
    background-image: url("/wp-content/uploads/2022/09/ca-store-portfolio.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
} 


.portfolio__image_pearlearl {
    background-image: url("/wp-content/uploads/2023/01/pearl_full.jpg");
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
} 