<div class="header">
    <nav class="uk-navbar-container uk-margin nav uk-navbar header__bar">
        <div class="uk-navbar-item">
            <div class="header__title">ITPflege Admin Panel</div>
        </div>
        <div>
            {% if app.user %}
                <div class="mb-3">
                    <span class="login__name">Hello {{ app.user.username }}!</span> <a class="uk-button uk-button-danger header__loginbutton" href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
        </div>
    </nav>
</div>

{% block cssheader %}
    <link href="{{ asset('css/admin-header.css') }}" rel="stylesheet">
{% endblock %}