$fontSizeInput: 1.2em;

@mixin flex-beetween {
    display: flex;
    justify-content: space-between;
}

.posts {
    font-family: 'Roboto', sans-serif;
    padding-right: 2%;
    width: 100%;
}

.posts__header {
    @include flex-beetween();
}

.post__button {
    margin-top: 6px;
    position: relative;
}

.more__post {
    display: flex;
    justify-content: center;
}

.post__header_bold {
    font-weight: bold;
}

.form__control {

    margin-bottom: 35px;

    .post__field {
        @include flex-beetween();
        height: 32px;
    }

    .post__label {
        font-size: $fontSizeInput;
        margin-right: 2%;
        margin-bottom: 35px;
    }

    .post__input {
        font-size: $fontSizeInput;
        font-weight: 300;
        min-width: 85%;
        font-family: sans-serif;
    }

    .post__input_height {
        height: 200px;
        width: 100%;
    }
}

.post_panel {
    display: flex;
    justify-content: flex-start;
}

.post__panel_left {
    width: 35%;
    border-right: 1px solid black;
}

.post__panel_right {
    margin-left: 5%;
}

.post__wrapper {
		font-size: 1.1rem;
    display: block;
    height: 50px;
    line-height: 3em;
		color: #14213d;
		border-bottom: 1px solid #e5e5e5;
		text-decoration: none !important;
		transition: 1s easy;
		padding-left: 5%;
}

.post__wrapper:hover {
	color: #14213d;
	background-color: #f7deb5;
	font-weight: 700;
	border-bottom: 2px solid #fca311;
	transition: 1s easy;
}

.post__add {
    display: flex;
    align-items: baseline;
}

//.post__unselect {
//	border: 1px solid cyan;
//}

.posteditor__buttonblock {
	display: flex;
  justify-content: space-evenly;
	margin-bottom: 50px;
}

.posteditor__notify {
    display:none;
}

.posteditor__notify_disable {
    display:none;
}

details {
    border-bottom: 2px solid #fff;
    padding: .75em .75em 0;
}

summary {
    font-weight: bold;
    margin: -.75em -.75em 0;
    padding: .75em;
    background-color: steelblue;
    color: white;
    transition: 0.45s ease-out;
}

details[open] {
    padding: .75em;

}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .75em;
}

.post__accordition {
    background-color: #ef476f;
}

.portfolio__accordition {
    background-color: #ffd166;
}

.products__accordition {
    background-color: #06d6a0;
}

.pages__accordition {
    background-color: #118ab2;
}
