<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="language" content="English">
        <meta name="author" content="ITPflege">
        <link rel="canonical" href="{{ app.request.uri }}" />
        <link rel="icon" type="image/png" href="{{ asset('icons/favicon.png') }}"/>

        {% block seo %}{% endblock %}
        {% block opengraph %}{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('uikit-dist/css/uikit.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/2000QHD.css') }}">
            <link rel="stylesheet" href="{{ asset('css/1200desktop.css') }}">
            <link rel="stylesheet" href="{{ asset('css/960smalldesktop.css') }}">
            <link rel="stylesheet" href="{{ asset('css/768pad.css') }}">
            <link rel="stylesheet" href="{{ asset('css/450tablet.css') }}">
            <link rel="stylesheet" href="{{ asset('css/0phone.css') }}">
            <link href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="{{ asset('uikit-dist/js/uikit.min.js')  }}"></script>
            <script src="{{ asset('uikit-dist/js/uikit-icons.min.js') }}" async></script>
            <!-- Yandex.Metrika counter -->
            <script type="text/javascript" >
                (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
                (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                ym(85784349, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/85784349" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="header__sticky_glue">
                <div class="header__contacts">
                    <div class="header__logo"><a href="/">ITPflege</a></div>
                    <div class="header__messengers">
                        <a class="header__messenger_logo header__messengers_whatsapp dpnone" href="https://wa.me/7921863690?text=I'm%20interested%20in%20your%20site%20for%20sale"></a>
                        <a class="header__messenger_logo header__messengers_viber dpnone" href="https://m.me/tosaithe"></a>
                        <a class="header__messenger_logo header__messengers_tlg dpnone" href="tg://resolve?domain=sodegov"></a>
                        <a class="header__messenger_logo header__messengers_mail dpnone" href="mailto:info@itplfege.com"></a>
                        <button class="header__menubutton_desktop uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-nav-primary">MENU</button>
                        <button class="header__menubutton_mobile uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-nav-primary"><span uk-icon="icon: menu; ratio: 1.8"></span></button>
                    </div>
                </div>
            </div>
        </header>
        <div id="offcanvas-nav-primary" uk-offcanvas="flip: true; overlay: true">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                    <li><a href="/">Home Page</a></li>
                    <li><a href="{{ path('how-we-work') }}">How we work</a></li>
                    <li class="uk-parent">
                        <a href="{{ path('services-list') }}">Development</a>
                        <ul class="uk-nav-sub">
                            <li><a href="/services/landing-page-development">Landing Page</a></li>
                            <li><a href="/services/business-website-b2c-development">B2C Website Development</a></li>
                            <li><a href="/services/online-store-development-woocommerce">Online Store Development</a></li>
                            <li><a href="/services/responsive-web-design-development-for-devices">Responsive Mobile Site</a></li>
                        </ul>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-parent">
                        <a href="/services#support">Support</a>
                        <ul class="uk-nav-sub">
                            <li><a href="/services/online-store-website-maintenance-upgrade-service">Maitenance and upgrade</a></li>
                            <li><a href="#">WordPress support</a></li>
                            <li><a href="#">WooCommerce support</a></li>
                            <li><a href="#">Symfony Support</a></li>
                        </ul>
                    </li>
                    <li class="uk-nav-divider"></li>
{#                    <li><a href="{{ path('works') }}"><span class="uk-margin-small-right" uk-icon="icon: album"></span>Works</a></li>#}
                    <li><a href="{{ path('blog') }}"><span class="uk-margin-small-right" uk-icon="icon: bookmark"></span>Blog</a></li>
                    <li><a href="{{ path('contacts') }}"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span>Contacts</a></li>
                </ul>
            </div>
        </div>
        {% block templateContentArea %}
        {% endblock %}
    </body>
    <footer>
        <div class="footer__desktop">
            <div class="footer__volume footer__block_first">
                <h2 class="footer__block_header">Contacts:</h2>
                <div class="footer__block">
                    <a class="footer__block_link" href="mailto:info@itplfege.com">E-mail: info@itplfege.com</a>
                </div>
                <div class="footer__block">
                    <a class="footer__block_link"
                       href="https://wa.me/7921863690?text=I'm%20interested%20in%20your%20site%20for%20sale">We in WhatsApp</a>
                </div>
                <div class="footer__block">
                    <a class="footer__block_link" href="https://m.me/tosaithe">We in Facebook Messenger</a>
                </div>
                <div class="footer__block">
                    <a class="footer__block_link" href="tg://resolve?domain=sodegov">We in Telegram</a>
                </div>
                <div class="footer__block footer__pay">
                    <p class="footer__paysystems">We accept: </p>
                    <div class="footer__pay_icons">
                        <div class="footer__pay_img">
                            <img src="{{ asset('icons/visa.svg') }}">
                        </div>
                        <div class="footer__pay_img">
                            <img src="{{ asset('icons/mastercard.svg') }}">
                        </div>
                        <div class="footer__pay_img">
                            <img src="{{ asset('icons/paypal.svg') }}">
                        </div>
                    </div>
                </div>
                <div class="footer__block">
                    <p class="footer__block_text">2009 - {{ "now"|date("Y")}} Outlooker.ru</p>
                </div>
            </div>

            <div class="footer__volume">
                <div class="footer__block">
                    <h2 class="footer__block_header">ITPflege.com</h2>
                </div>
                <div class="footer__block">
                    <a class="footer__block_link" href="#">Download price</a>
                </div>
                <div class="footer__block">
                    <a class="footer__block_link" href="{{ path('services-list') }}">Services</a>
                </div>
                <div class="footer__block">
                    <a class="footer__block_link" href="{{ path('works') }}">Portfolio</a>
                </div>
                <div class="footer__block">
                    <a class="footer__block_link" href="{{ path('blog') }}">Blog</a>
                </div>
                <div class="footer__block">
                    <a class="footer__block_link" href="{{ path('contacts') }}">Contacts</a>
                </div>
            </div>
            <div class="footer__volume footer__information">
                <div class="footer__block">
                    <h2 class="footer__block_header">Information</h2>
                </div>
                <div class="footer__block">
                    <p class="footer__block_text">Offers on the site are for informational purposes and are not a public
                        offer</p>
                    <p>
                    <p class="footer__block_text footer__text_hide">All product names, logos, and brands are property of their respective owners. All company, product and service names used in this website are for identification purposes only. Use of these names, logos, and brands does not imply endorsement.</p>
                </div>
            </div>
        </div>
        <div class="footer__mobile">
            <div class="footer__messengers">
                <a class="header__messenger_logo footer__messengers_whatsapp footer__mobile_icon" href="https://wa.me/7921863690?text=I'm%20interested%20in%20your%20site%20for%20sale"></a>
                <div>|</div>
                <a class="header__messenger_logo footer__messengers_viber footer__mobile_icon" href="https://m.me/tosaithe"></a>
                <div>|</div>
                <a class="header__messenger_logo footer__messengers_tlg footer__mobile_icon" href="tg://resolve?domain=sodegov"></a>
                <div>|</div>
                <a class="header__messenger_logo footer__messengers_mail footer__mobile_icon" href="mailto:info@itplfege.com"></a>
            </div>
        </div>
    </footer>
</html>
