{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/loginform.css') }}">
{% endblock %}

{% block title %}Log in!{% endblock %}

        {% block templateContentArea %}

            <div class="login__form">
                <form method="post">
                    {% if error %}
                        <div class="uk-alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}


                    <h1 class="uk-heading-bullet">Please sign in</h1>
                    <div class="login__field">
                        <label for="inputUsername">Username</label>
                        <input class="uk-input login__input" type="text" value="{{ last_username }}" name="username"
                               id="inputUsername" class="form-control"
                               autocomplete="username" required autofocus>
                    </div>

                    <div class="login__field">
                        <label for="inputPassword">Password</label>
                        <input class="uk-input login__input" type="password" name="password" id="inputPassword"
                               class="form-control"
                               autocomplete="current-password" required>
                    </div>
                    <div class="login__field">
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <button class="uk-button-primary login__button_spec" type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        {% endblock %}

