<div class="contactpage__form_body">
    {{ form_start(our_form) }}
    <div>
        {{ form_row(our_form.fullName, {'attr': {'class': 'contactform__input'}}) }}
    </div>

    <div>
        {{ form_row(our_form.email, {'attr': {'class': 'contactform__input'}}) }}
        {{ form_errors(our_form) }}
    </div>

    <div class="contactpage__textarea">
        {{ form_row(our_form.message, {'attr': {'class': 'contactform__input'}}) }}
    </div>

    <div class="contactpage__button">
        <input type="submit" value="Send" class="contactpage__button_prop">
    </div>

    <div>
        <p class="contactpage__form_offer">By clicking on the "Send Message" button, you accept the terms of the Public Offer</p>
    </div>
    {{ form_end(our_form) }}
</div>