/* smartphone css 0px-449 */

@media screen and (min-width: 0px) and (max-width: 449px) {
    /*Symfony debug toolbar fix*/
    .sf-toolbar-clearer {
        position: absolute;
    }

    /*Main styles*/
    html, body {
        overflow-x: hidden;
        font-weight: 300;
    }

    body {
        padding-bottom: 40px;
    }

    canvas {
        width: 100% !important;
    }

    a {
        transition: 0.35s;
    }

    p, .page__template_list {
        font-size: 1rem;
        line-height: 2;
    }

    h1, h2, h3, h4, h5 {
        font-weight: 300;
        line-height: 1.3;
    }

    h1, h2 {
        font-size: 1.55rem;
    }

    .uk-card-default {
        height: 100%;
    }

    .uk-card-title, .uk-accordion-title {
        font-size: 1.1rem;
    }

		.uk-card-body {
			text-align: justify;
		}

    .uk-nav-center {
        text-align: start;
    }

    .uk-accordion> :nth-child(n+2) {
        margin-top: 0;
    }

    .uk-tab>*>a {
        font-size: 1.15rem;
    }

    .uk-table td {
        padding: 18px;
    }

    .uk-input, .uk-select, .uk-textarea {
        font-size: 1.10em;
    }

    /*Header style*/
    header {
        display: block;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .header__contacts {
        display: flex;
        width: 100%;
        align-items: center;
        background-color: black;
        height: 40px;
        justify-content: space-between;
    }

    .header__logo {
        color: white;
        font-family: "Economica", sans-serif;
        font-size: 1.2rem;
        margin-left: 5%;
    }

    .header__logo a {
        color: white;
    }

    .header__messengers {
        display: flex;
        justify-content: flex-end;
        width: 65%;
    }

    .header__messenger_logo {
        display: block;
        background-size: cover;
        height: 22px;
        width: 22px;
    }

    .header__messengers_whatsapp,
    .header__messengers_viber,
    .header__messengers_tlg,
    .header__messengers_mail {
        display:none;
    }

    .header__divider {
        width: 1px;
        background: white;
        margin: 1px 0;
    }

    .header__menubutton_desktop {
        float: right;
        border-bottom: 0;
        border-top: 0;
        border-left: 1px solid wheat;
        border-right: 0px;
        color: wheat;
        font-family: "Economica", sans-serif;
        font-size: 1.25rem;
        margin-right: 0 !important;
    }


    .header__menubutton_mobile {
        display: none;
    }

    /*Frontpage template*/
    #world {
        display: block;
        background-color: #000000;
    }

    .frontpage__banner {
        backface-visibility: hidden;
    }

    .frontpage__animation {
        height: 90vh;
    }

    .frontpage__animation_text {
        position: absolute;
        top: 20vh;
        background: none;
        margin: 0px 5%;
    }

    .frontpage__animation_text h2 {
        position: relative;
        color: white;
        line-height: 1.8;
    }

    .frontpage__button {
        width: 70%;
        height: 60px;
        background-color: #fca311;
        color: #14213d;
        margin-top: 45px;
        font-size: 1.05rem;
        font-weight: 500;
    }

    .frontpage__clienttext {
        margin: 50px 0;
        padding: 0px 2%
    }

    .frontpage__clienttext_header {
        font-size: 1.2rem;
        font-weight: 300;
        text-align: justify;
        line-height: 1.9;
    }

    .frontpage__services_header {
        margin: 30px 0px;
        text-align: center;
    }

    .frontpage__serviceblock_black,
    .frontpage__serviceblock_yellow,
    .frontpage__serviceblock_blue
    {
        display: none;
    }

    .frontpage__card_one {
        background-color: #000;
        color: white;
        line-height: 2;
        min-height: 200px;
        padding-top: 40px;
    }

    .frontpage__card_two {
        background-color: #14213d;
        color: white;
        line-height: 2;
        min-height: 200px;
    }

    .frontpage__card_three {
        background-color: #fca311;
        color: black;
        line-height: 2;
        min-height: 200px;
    }

    .frontpage__roadmap_block {
        padding: 0px 2%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .frontpage__roadmap_width {
        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .frontpage__roadmap_item {
        border-bottom: 1px solid #ddd;
        /* margin: 0 !important; */
        padding: 5%;
    }

    .frontpage__roadmap_lastitem {
        padding: 5% 5% 5% 5%;
    }

    .frontpage__roadmap_itemdesc {
        text-align: justify;
    }

    .frontpage__roadmap_qr {
        display:none;
    }

    .frontpage__blog {
        margin-top: 50px;
        padding: 0px 2%;
        margin-bottom: 75px;
    }


    /*Customer Showcase Page*/

    .offer {
        min-height: 700px;
    }

    #particles-js {
        position: absolute;
        width: 100%;
        height: 700px;
        background-color: #14213d;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .offer__desc {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #14213d;
        margin-bottom: 50px;
        padding: 0px 2%
    }

    .offer__desc_inner {
        width: 100%;
        background-color: #14213d;
        color: white;
        margin-top: 50px;
        opacity: 0.8;
        z-index: 3;
    }

    .offer__header {
        text-align: center;
        color: white;
    }

    .offer__accordition_item {
        border-bottom: 1px solid #ddd;
        padding: 5%;
    }

    .offer__accordition_lastitem {
        border-bottom: 0;
        padding: 5% 5% 5% 5%;
    }

    .offer_block_link {
        color: white !important;
    }

    .offer__block_link:hover {
        color: #fca311 !important;
    }

    .offer__block_desc {
        color: white;
        text-align: justify;
    }

    .offer__button, .offer__button:hover {
        display: flex;
        background-color: #fca311;
        color: white;
        margin: 25px auto 25px auto;
        width: 70%;
        justify-content: center;
        font-size: 1.4rem;
    }

    .price {
        margin-top: 50px;
        padding: 0px 2%
    }

    .price__header {
        text-align: center;
        margin-bottom: 20px;
    }

    .price__header_mobile {
        display: none;
    }

    .price__table_header {
        color: black;
    }

    .price__header_buttons {
        padding-top: 0px;
        padding-right: 45px;
        padding-bottom: 0px;
        padding-left: 45px;
    }

    .uk-tab::before {
        left: 0px;
        border:none;
    }

    #my-id {
        margin-top: 0 !important;
    }

    .price__table {
        color: black;
    }

    .price__table_row {
        border-top: 1px solid #14213d !important;
        border-bottom: 1px solid #14213d !important;
        width: 50%;
    }

    .price__table_p {
        font-size: 16px;
        margin: 0;
    }

    .uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped>tr:nth-of-type(odd) {
        background: #f5f8ff !important;
    }

    .uk-tab>.uk-active>a {
        border-color: #14213d !important;
        /*border-bottom: 2px solid;*/
    }

    .uk-tab>*>a {
        font-size: 1.35rem !important;
        transition: color .3s ease-in-out !important;
    }

    .showcase__services {
        margin: 50px 0 50px 0;
    }

    .showcase__serviceblocks {
        padding: 0px 2%
    }

    .showcase__card_one {
        color: white;
        background-color: #000;
        margin: 8px .8%;
        text-align: justify;
    }

    .showcase__card_two {
        color: white;
        background-color: #14213d;
        margin: 8px 0.8%;
        text-align: justify;
    }

    .showcase__card_three {
        color: black;
        background-color: #fca311;
        margin: 8px .8%;
        text-align: justify;
    }

    .service__card_link {
        color: white;
        border-bottom: 1px solid white;
        font-weight: 700;
    }

    .service__card_link:hover {
        color: white;
        border-bottom: 1px solid white;
        text-decoration: none;
    }

    .service__yellowcard_link {
        color: black;
        border-bottom: 1px solid black;
        font-weight: 700;
    }

    .service__yellowcard_link:hover {
        text-decoration: black;
        color: black;
        border-bottom-color: black;
    }

    .seo__block {
        background-image: url("/img/hello-background.jpg");
        height: 420px;
        color: white;
        background-size: cover;
        padding: 50px 5% 50px 5%;
    }

    .seo__block_header {
        color: white;
        text-align: center;
        margin-bottom: 25px;
    }

    .seo__block_description {
        font-size: 1.05rem;
        text-align: justify;
    }

    /*Service list template*/
    #particles-js-services {
        width: 100%;
        height: 160px;
        background-color: #333;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .servicecollection__header {
        display: block;
        width: 86%;
        position: absolute;
        top: 100px;
        padding: 0px 2%;
        color: white;
        text-align: center;
    }

    .tetrablocks {
        width: 100%;
        min-height: 300px;
    }

    .tetrablocks__header {
        margin: 25px 3%;
    }

    #timeline {
        display: none !important;
    }

    .timeline__mobile {
        padding: 0 2%
    }

    .allinone__item_first {
        background: black;
    }

    .allinone__item_second {
        background: #14213d;
    }

    .allinone__item_third {
        background: #fca311;
    }

    .allinone__item_four {
        background: #918b76;
    }

    .allinone__item_mobile {
        min-height: 140px;
        padding: 40px 10px 25px 10px;
        margin-bottom: 8px;
    }

    .allinone__mobile_head {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.05rem !important;
        font-weight: 700 !important;
        margin-bottom: 20px;
    }

    .allinone__mobile_head a {
        color: white;
        border-bottom: 1px solid white;
        text-decoration: none;
    }

    .allinone__item_third .allinone__mobile_head a,
    .allinone__item_four .allinone__mobile_head a
    {
        color: black;
        border-bottom:1px solid black;
        text-decoration: none;
    }

    .allinone__item_four {
        background: #918b76;
    }

    .allinone__mobile_desc {
        color: white;
        font-size: 0.875rem;
        text-align: center;
    }

    .allinone__item_third .allinone__mobile_desc,
    .allinone__item_four .allinone__mobile_desc
    {
        color: black;
    }

    .servicecollection__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px 2%
    }

    .servicecollection__card_one {
        background-color: #000;
        text-align: justify;
        margin: 1% 1%;
    }

    .servicecollection__card_one:hover {
        color: #e5cea3;
        background-color: #303030;
        text-decoration: none;
        transition: 0.3s;
    }

    .servicecollection__card_two {
        background-color: #14213d;
        text-align: justify;
        margin: 1% 1%;
    }

    .servicecollection__card_two:hover {
        color: #e5cea3;
        background-color: #2e4882;
        text-decoration: none;
        transition: 0.3s;
    }

    .servicecollection__card_position {
        display: flex;
        height: 200px;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;
    }

    .servicecollection__card_position h3 {
        color: white;
        text-decoration: none;
    }

    .service__block_wheat {
        color: wheat !important;
        text-align: center;
    }

    .services__icon {
        display: block;
        margin-bottom: 15px;
    }

    .frontpage__services_second {
        margin-bottom: 75px;
    }

    .support__anchor_link, .support__anchor_link:hover {
        color: black;
        text-decoration: none;
    }

    .servicecollection_support {
        margin-bottom: 50px;
    }

    .servicecollection__contact {
        height: 250px;
        background-image: url("/img/hello-background.jpg");
        background-size: cover;
        padding: 25px 6% 0px 6%;
    }

    .servicecollection__contact_cellone {
        padding-top: 25px;
    }

    .servicecollection__contact_cellone > div > p:nth-child(2) {
        display: none;
    }

    .servicecollection__contact_question {
        font-size: 1.2rem;
        font-weight: 300;
        color: white;
        text-align: center;
        letter-spacing: 0.12rem;
    }

    .servicecollection__contact_legend {
        color: white;
        font-size: 1rem;
        line-height: 2;
    }

    .servicecollection__contact_input, .servicecollection__contact_input:focus {
        background: transparent;
        border-top: unset;
        border-left: unset;
        border-right: unset;
    }

    .servicecollection__contact_input:focus {
        color: #fca311;
        border-color: #fca311;
    }

    .servicecollection__contact_celltwo {
        display: flex;
        justify-content: center;
    }

    .servicecollection__contact_button {
        display: flex;
        position: relative;
        height: 45px;
        width: 50%;
        justify-content: center;
        align-items: center;
        background-color: #fca311;
        border-style: unset;
        border-width: 0;
        color: white;
        font-size: 1.10em;
        padding-left: 5%;
        top: 24px;
        text-decoration: none;
    }

    .servicecollection__contact_button:hover {
        background-color: #14213d;
        color: #fca311;
        text-decoration: none;
        border-bottom: 1px solid #fca311;
        transition: 0.6s;
    }

    /*folio */
    .portfolio__header_block {
        font-size: 1.2rem;
        font-weight: 300;
        text-align: justify;
        line-height: 1.7;
        margin-bottom: 50px;
    }

    /*blog page*/
    .blog {
        padding: 0px 2%;
        margin-bottom: 75px;
    }

    .blog__header {
        margin: 40px 0px;
        text-align: center;
    }

    .blog__particles_background {
        background-color: #0d1b2a !important;
    }

    .blog__card_link {
        color: black;
        text-decoration: none !important;
        border-bottom: 1px solid black;
    }

    .blog__card_link:hover {
        color: #fca311;
        border-bottom: 1px solid #fca311;
    }

    .blog__pagination {
        display: flex;
        color: black;
        justify-content: center;
        margin-top: 40px;
    }

    .blog__pagination_link {
        color: black;
    }

    .blog__pagination_link:hover {
        color: #fca311;
    }


    /* Post page style */

    .blog__posthead {
        display: flex;
        width: 100%;
        height: 150px;
        border: 1px solid black;
        background-color: #14213d;
        justify-content: center;
        align-items: center;
    }

    .blog__posthead_color {
        color: white;
        text-align: center;
        font-size: 1.4rem;
        display: block;
        position: relative;
        margin: 0 5%;
    }

    .blog__post_content h3 {
        text-align: center;
        font-size: 1.4em;
        font-weight: 500;
    }

    .blog__post_content p {
        text-align: justify;
        font-size: 1.1rem;
    }

    .blog__post_content a {
        color: #14213d;
        text-decoration: none;
        transition: 0.4s;
        border-bottom: 1px solid #14213d;
    }

    .blog__post_content a:hover {
        color: #fca311;
        border-bottom: 1px solid #fca311;
        text-decoration: none;
        transition: 0.4s;
    }

    .post__preview_image {
        height: 280px;
        width: 100%;
        overflow-x: hidden;
    }

    .blog__post_content ul,
    .blog__post_date {
        text-align: justify;
        font-size: 1.1rem;
        line-height: 2;
    }

    /*Contact Page*/
    .contactpage {
        padding: 50px 7% 0px 7%;
    }

    .contactpage__particles_background {
        background-color: #1b263b !important;
    }

    .contactpage__info {
    }

    .contactpage__section_left, .contactpage__section_right {
        /*width: 45%;*/
    }

    .contactpage__divider_vertical {
        display: none;
    }

    .contactpage__section_right {
        text-align: justify;
    }

    .contactpage__header {
        text-align: center;
    }

    .contactpage__connect {
        color: #666;
        border-bottom: 1px solid #666;
        text-decoration: none;
    }

    .contactpage__connect:hover {
        color: #14213d;
        border-bottom: 1px solid #14213d;
        text-decoration: none;
    }
    /* Contact Form */
    .contactpage__form {
        margin-top: 45px;
    }

    .contactpage__form_item {
        display: flex;
        justify-content: flex-start;
        border-left: none;
        border-right: none;
        border-top: none;
        border-width: 1px;
        padding: 0;
        margin-bottom: 25px;
    }

    label[for=contact_page_form_fullName], label[for=contact_page_form_email], label[for=contact_page_form_message] {
        margin-right: 1%;
        width: 24%;
        font-size: 1rem;
        line-height: 2;
    }

    .contactform__input {
        font-size: 1.10rem;
        font-weight: 400;
        line-height: 2;
        width: 76%;
        resize: none;
    }

    .contactpage__input :focus {
        border-color: #fca311;
        outline: unset;
        transition: all 0.5s;
    }

    .contactpage__button {
        display: flex;
        justify-content: center;
        margin: 35px 0;
        padding-left: 24%;
    }

    .contactpage__button_prop {
        width: 70%;
        height: 60px;
        background-color: #fca311;
        border-color: white !important;
        color: #fff;
        font-size: 1.10em;
    }

    .contactpage__form_offer {
        font-size: 0.85rem;
        text-align: center;
    }

    .google__maps {
        margin-bottom: 75px;
    }

    /*Page template*/
    .page {
        margin-top: 50px;
        padding: 0px 2%
    }

    .page__content_header {
        text-align: center;
    }

    .page__content_text, .page__content_list {
        color: #14213d;
        text-align: justify;
    }

    .page__template_list {
        list-style: circle;
    }

    .page__share_text {
        margin-bottom: 15px;
    }

    .page__facebook_share {
        margin-bottom: 25px;
    }

    .page__content_subheader {
        text-align: center;
    }

    .tableprice__row_left {
        padding-left: 15% !important;
    }

    /*Footer*/

    .footer__desktop {
        display: none;
    }

    .footer__mobile {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: black;
        z-index: 4;
    }

    .footer__messengers {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 40px;
    }

    .footer__mobile_icon {
        height: 22px;
        width: 22px;
        margin-right: 0 !important;
    }


    .footer__messengers {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 40px;
    }

    .footer__mobile_icon {
        height: 22px;
        width: 22px;
        margin-right: 0 !important;
    }

    .footer__messengers_whatsapp {
        background-image: url("/icons/whatsapp.svg");
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(59deg) brightness(104%) contrast(106%);
        transition: unset;
    }

    .footer__messengers_viber {
        background-image: url("/icons/viber.svg");
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(59deg) brightness(104%) contrast(106%);
        transition: unset;
    }

    .footer__messengers_tlg {
        background-image: url("/icons/telegram2.svg");
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(59deg) brightness(104%) contrast(106%);
        transition: unset;
    }

    .footer__messengers_mail {
        background-image: url("/icons/mail.svg");
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(59deg) brightness(104%) contrast(106%);
        transition: unset;
    }

    /*404*/
    .page404 {
        width: 100%;
        height: calc(100vh - 40px);
        background-image: url('/img/404-2.jpg');
        background-size: cover;
    }

    .block404{
        margin: 0 10%;
        padding-top: 7vh;
    }

    .page404__block {
        padding-bottom: 0px !important;
    }

    .error__header {
        color: white;
        font-size: 2.6rem;
    }

    .error__text_prop {
        color: white;
        font-size: 1.25rem;
        line-height: 30px;
    }

    .error__text a {
        color: white;
    }

    .links404 {
        color: white;
        margin-bottom: 30px;
    }

    .links404__prop {
        color: #fca311 !important;
        font-size: 1.45rem;
    }

    .links404 a:hover {
        color: #fca311 !important;
        text-decoration: none;
        border-bottom: 1px solid #fca311;
    }

    .link__block {
        display: block;
        line-height: 40px;
    }

}

