/* Half-desktop CSS 960+ */

@media screen and (min-width: 960px) and (max-width: 1199px) {
	/*Symfony debug toolbar fix*/
	.sf-toolbar-clearer {
		position: absolute;
	}

	/*Main styles*/
	html, body {
		overflow-x: hidden;
		font-weight: 300;
	}

	/* Fixed header height compensator */
	body {
		padding-top: 35px;
	}

	canvas {
		width: 100% !important;
	}

	a {
		transition: 0.35s;
	}

	p, .page__template_list {
		font-size: 1rem;
		line-height: 2;
	}

	h1, h2, h3, h4, h5 {
		font-weight: 300;
		line-height: 1.3;
	}

	h1, h2 {
		font-size: 2.1rem;
	}

	.uk-card-default {
		height: 100%;
	}

	.uk-card-title, .uk-accordion-title {
		font-size: 1.3rem;
	}

	.uk-card-body {
		text-align: justify;
	}


	.uk-nav-center {
		text-align: start;
	}

	.uk-accordion> :nth-child(n+2) {
		margin-top: 0;
	}

	.uk-tab>*>a {
		font-size: 1.15rem;
	}

	.uk-table td {
		padding: 18px;
	}

	.uk-input, .uk-select, .uk-textarea {
		font-size: 1.10em;
	}

	/*Header style*/
	header {
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;
	}

	.header__contacts {
		display: flex;
		width: 100%;
		align-items: center;
		background-color: black;
		height: 35px;
		justify-content: space-between;
	}

	.header__logo {
		color: white;
		font-family: "Economica", sans-serif;
		font-size: 1.5rem;
		margin-left: 5%;
	}

	.header__logo a {
		color: white;
	}

	.header__messengers {
		display: flex;
		align-items: center;
		float: right;
		justify-content: flex-end;
		margin-right: 5%;
		width: 30%;
	}

	.header__messenger_logo {
		display: block;
		background-size: contain;
		height: 20px;
		margin-right: 6%;
		width: 20px;
	}

	.header__messengers_whatsapp {
		background-image: url("/icons/whatsapp.svg");
		filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(59deg) brightness(104%) contrast(106%);
		transition: unset;
	}

	.header__messengers_viber {
		background-image: url("/icons/viber.svg");
		filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(59deg) brightness(104%) contrast(106%);
		transition: unset;
	}

	.header__messengers_tlg {
		background-image: url("/icons/telegram2.svg");
		filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(59deg) brightness(104%) contrast(106%);
		transition: unset;
	}

	.header__messengers_mail {
		background-image: url("/icons/mail.svg");
		filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(59deg) brightness(104%) contrast(106%);
		transition: unset;
	}
	.header__messengers_whatsapp:hover, .header__messengers_viber:hover, .header__messengers_tlg:hover, .header__messengers_mail:hover {
		filter: invert(85%) sepia(27%) saturate(6248%) hue-rotate(344deg) brightness(95%) contrast(108%);
		transition: unset;
	}

	.header__divider {
		width: 1px;
		background: white;
		margin: 1px 0;
	}

	.header__menubutton_desktop {
		float: right;
		border-bottom: 0;
		border-top: 0;
		color: wheat;
		height: 35px;
		font-family: "Economica", sans-serif;
		font-size: 1.25rem;
		margin-right: 7%;
	}
	.header__menubutton_mobile {
		display: none;
	}

	/*Frontpage template*/
	#world {
		display: block;
		background-color: #000000;
	}

	.frontpage__banner {
		backface-visibility: hidden;
	}

	.frontpage__animation {
		height: 650px;
	}

	.frontpage__animation_text {
		position: absolute;
		top: 200px;
		background: none;
		margin: 0px 5%;
	}

	.frontpage__animation_text h2 {
		position: relative;
		color: white;
	}

	.frontpage__button {
		width: 30%;
		height: 60px;
		background-color: #fca311;
		color: #14213d;
		margin-top: 45px;
		font-size: 1.05rem;
		font-weight: 500;
	}

	.frontpage__clienttext {
		margin: 50px 0;
		padding: 0px 5%;
	}

	.frontpage__clienttext_header {
		font-size: 1.45rem;
		font-weight: 300;
		text-align: justify;
		line-height: 1.7;
	}

	.frontpage__services_header {
		margin: 45px 0px;
		text-align: center;
	}

	.frontpage__services_blocks {
		display: grid;
		grid-template-columns: 5% 1fr 1fr 1fr 5%;
	}

	.frontpage__serviceblock_black {
		background-color: black;
	}

	.frontpage__serviceblock_yellow {
		background-color: #fca311;
	}

	.frontpage__serviceblock_blue {
		background-color: #14213d;
	}

	.frontpage__card_one {
		background-color: #000;
		color: white;
		line-height: 2;
		min-height: 310px;
	}

	.frontpage__card_two {
		background-color: #14213d;
		color: white;
		line-height: 2;
		min-height: 310px;
	}

	.frontpage__card_three {
		background-color: #fca311;
		color: black;
		line-height: 2;
		min-height: 310px;
	}

	.frontpage__roadmap_block {
		padding: 0px 5%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.frontpage__roadmap_width {
		width: 55%;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	}

	.frontpage__roadmap_item {
		border-bottom: 1px solid #ddd;
		/* margin: 0 !important; */
		padding: 5%;
	}

	.frontpage__roadmap_lastitem {
		padding: 5% 5% 5% 5%;
	}

	.frontpage__roadmap_itemdesc {
		text-align: justify;
	}

	.frontpage__roadmap_qr {
		width: 30%;
		min-height: 350px;
		background-image: url("/icons/QR.svg");
		background-repeat: no-repeat;
		background-size: contain;
	}

	.frontpage__blog {
		margin-top: 50px;
		padding: 0px 5%;
		margin-bottom: 75px;
	}

	/*Customer Showcase Page*/

	.offer {
		min-height: 700px;
	}

	#particles-js {
		position: absolute;
		width: 100%;
		height: 700px;
		background-color: #14213d;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.offer__desc {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background-color: #14213d;
		margin-bottom: 50px;
		padding: 0px 5%;
	}

	.offer__desc_inner {
		width: 100%;
		background-color: #14213d;
		color: white;
		margin-top: 50px;
		opacity: 0.8;
		z-index: 3;
	}

	.offer__header {
		text-align: center;
		color: white;
	}

	.offer__accordition_item {
		border-bottom: 1px solid #ddd;
		padding: 5%;
	}

	.offer__accordition_lastitem {
		border-bottom: 0;
		padding: 5% 5% 5% 5%;
	}

	.offer_block_link {
		color: white !important;
	}

	.offer__block_link:hover {
		color: #fca311 !important;
	}

	.offer__block_desc {
		color: white;
		text-align: justify;
	}

	.offer__button, .offer__button:hover {
		display: flex;
		background-color: #fca311;
		color: white;
		margin: 25px auto 76px auto;
		width: 30%;
		justify-content: center;
		font-size: 1.4rem;
	}

	.price {
		margin-top: 50px;
		padding: 0px 5%;
	}

	.price__header {
		text-align: center;
		margin-bottom: 45px;
	}

	.price__header_mobile {
		display: none;
	}

	.price__table_header {
		color: black;
	}

	.price__header_buttons {
		margin: 0px !important;
	}

	#my-id {
		margin-top: 0 !important;
	}

	.price__table {
		color: black;
	}

	.price__table_row {
		border-top: 1px solid #14213d !important;
		border-bottom: 1px solid #14213d !important;
		width: 50%;
	}

	tr > td:nth-child(2) {
		padding-left: 20%;
	}

	.price__table_p {
		font-size: 16px;
		margin: 0;
	}

	.uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped>tr:nth-of-type(odd) {
		background: #f5f8ff !important;
	}

	.uk-tab>.uk-active>a {
		border-color: #14213d !important;
		border-bottom: 2px solid;
		margin-bottom: 15px;
	}

	.uk-tab>*>a {
		transition: color .3s ease-in-out !important;
	}

	.showcase__services {
		margin: 50px 0 50px 0;
	}

	.showcase__serviceblocks {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0px 5%;
	}

	.showcase__card_one {
		color: white;
		background-color: #000;
		margin: .8% .8%;
		text-align: justify;
	}

	.showcase__card_two {
		color: white;
		background-color: #14213d;
		margin: 1% 1%;
		text-align: justify;
	}

	.showcase__card_three {
		color: black;
		background-color: #fca311;
		margin: .8% .8%;
		text-align: justify;
	}

	.service__card_link {
		color: white;
		border-bottom: 1px solid white;
		font-weight: 700;
	}

	.service__card_link:hover {
		color: white;
		border-bottom: 1px solid white;
		text-decoration: none;
	}

	.service__yellowcard_link {
		color: black;
		border-bottom: 1px solid black;
		font-weight: 700;
	}

	.service__yellowcard_link:hover {
		text-decoration: none;
		color: black;
		border-bottom-color: black;
	}

	.seo__block {
		background-image: url("/img/hello-background.jpg");
		height: 336px;
		color: white;
		background-size: cover;
		padding: 70px 5% 0px 5%;
	}

	.seo__block_header {
		color: white;
		text-align: center;
		margin-bottom: 25px;
	}

	.seo__block_description {
		font-size: 1.3rem;
		line-height: 2.1;
		text-align: justify;
	}

	/*Service list template*/

	#particles-js-services {
		width: 100%;
		height: 250px;
		background-color: #333;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.servicecollection__header {
		display: block;
		width: 86%;
		position: absolute;
		top: 125px;
		padding: 0px 5%;
		color: white;
		text-align: center;
	}

	.tetrablocks {
		width: 100%;
		min-height: 300px;
	}

	.tetrablocks__header {
		margin: 25px 7%;
	}

	#timeline {
		margin: 0 5%;
	}

	.timeline__mobile {
		display:none;
	}

	.allinone__sideblock_open {
		width: 10%;
		background: #fca311;
	}

	.allinone__sideblock_end {
		width: 10%;
		background: #fca311;
	}

	.allinone__item_first {
		background: black;
	}

	.allinone__item_second {
		background: #14213d;
	}

	.allinone__item_third {
		background: #fca311;
	}

	.allinone__item_four {
		background: #918b76;
	}

	.allinone__link {
		color: rgb(255 255 255);
		font-weight: 700;
		font-size: 1.5rem;
		text-decoration: none;
	}

	.allinone__link:hover {
		text-decoration: none !important;
		color: rgb(255 255 255);
		font-weight: 700;
		font-size: 1.5rem
	}

	.tl-year p {
		text-align: center;
		font-size: 1.05rem !important;
		font-weight: 700 !important;
	}

	.servicecollection__grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: 0 5%;
	}

	.servicecollection__card_one {
		background-color: #000;
		text-align: justify;
		margin: 1% 1%;
	}

	.servicecollection__card_one:hover {
		color: #e5cea3;
		background-color: #303030;
		text-decoration: none;
		transition: 0.3s;
	}

	.servicecollection__card_two {
		background-color: #14213d;
		text-align: justify;
		margin: 1% 1%;
	}

	.servicecollection__card_two:hover {
		color: #e5cea3;
		background-color: #2e4882;
		text-decoration: none;
		transition: 0.3s;
	}

	.servicecollection__card_position {
		display: flex;
		height: 200px;
		align-items: center;
		box-sizing: border-box;
		justify-content: center;
	}

	.servicecollection__card_position h3 {
		color: white;
		text-decoration: none;
	}

	.service__block_wheat {
		color: wheat !important;
		text-align: center;
	}

	.services__icon {
		display: block;
		margin-bottom: 15px;
	}

	.frontpage__services_second {
		margin-bottom: 75px;
	}

	.support__anchor_link, .support__anchor_link:hover {
		color: black;
		text-decoration: none;
	}

	.servicecollection_support {
		margin-bottom: 50px;
	}

	.servicecollection__contact {
		display: flex;
		align-items: center;
		height: 250px;
		background-image: url("/img/hello-background.jpg");
		background-size: cover;
		justify-content: space-between;
		padding: 0px 10%;
	}

	.servicecollection__contact_cellone {
		width: 50%;
		align-items: center;
		justify-content: center;
	}

	.servicecollection__contact_celltwo {
		width: 50%;
	}

	.servicecollection__contact_question {
		font-size: 1.4rem;
		font-weight: 300;
		color: white;
		margin: 0px;
		letter-spacing: 0.13rem;
	}

	.servicecollection__contact_legend {
		color: white;
		font-size: 1.6rem;
		line-height: 2;
	}

	.servicecollection__contact_input, .servicecollection__contact_input:focus {
		background: transparent;
		border-top: unset;
		border-left: unset;
		border-right: unset;
	}

	.servicecollection__contact_input:focus {
		color: #fca311;
		border-color: #fca311;
	}

	.servicecollection__contact_button {
		display: flex;
		position: relative;
		height: 45px;
		width: 50%;
		justify-content: center;
		align-items: center;
		background-color: #fca311;
		border-style: unset;
		border-width: 0;
		color: white;
		font-size: 1.10em;
		padding-left: 5%;
		margin-left: 25%;
		text-decoration: none;
	}

	.servicecollection__contact_button:hover {
		background-color: #14213d;
		color: #fca311;
		text-decoration: none;
		border-bottom: 1px solid #fca311;
		transition: 0.6s;
	}

	/*folio */
	.portfolio__header_block {
		font-size: 1.45rem;
		font-weight: 300;
		text-align: justify;
		line-height: 1.7;
		margin-bottom: 50px;
	}

	/*blog page*/
	.blog {
		padding: 0% 5%;
	}

	.blog__header {
		margin: 40px 0px;
    text-align: center;
	}

	.blog__particles_background {
		background-color: #0d1b2a !important;
	}

	.blog__card_link {
			color: black;
			text-decoration: none !important;
			border-bottom: 1px solid black;
	}

	.blog__card_link:hover {
			color: #fca311;
			border-bottom: 1px solid #fca311;
	}

	.blog__pagination {
		display: flex;
		color: black;
		justify-content: center;
		margin-top: 40px;
	}

	.blog__pagination_link {
		color: black;
	}

	.blog__pagination_link:hover {
		color: #fca311;
	}


	/* Post page style */

	.blog__posthead {
    display: flex;
    width: 100%;
		height: 150px;
		border: 1px solid black;
		background-color: #14213d;
		justify-content: center;
		align-items: center;
	}

	.blog__posthead_color {
		color: white;
		font-size: 2rem;
	}

	.blog__post_content h3 {
		text-align: center;
		font-size: 1.4em;
		font-weight: 500;
		margin-top: 0px;
	}

	.blog__post_content p {
		text-align: justify;
		font-size: 1.1rem;
	}

	.blog__post_content a {
		color: #14213d;
		text-decoration: none;
		transition: 0.4s;
		border-bottom: 1px solid #14213d;
	}

	.blog__post_content a:hover {
		color: #fca311;
		border-bottom: 1px solid #fca311;
		text-decoration: none;
		transition: 0.4s;
	}

	.post__preview_image {
		min-height: 280px;
		width: 100%;
		object-fit: cover;
	}

	.blog__post_content ul,
	.blog__post_date {
		text-align: justify;
		font-size: 1.1rem;
		line-height: 2;
	}


	/*Contact Page*/
	.contactpage {
		padding: 50px 7% 0px 7%;
	}

	.contactpage__particles_background {
		background-color: #1b263b !important;
	}

	.contactpage__info {
		display: flex;
		justify-content: space-evenly;
	}

	.contactpage__section_left, .contactpage__section_right {
		width: 45%;
	}

	.contactpage__divider_vertical {
		height: 42vh;
	}

	.contactpage__section_right {
		text-align: justify;
	}

	.contactpage__header {
		text-align: center;
	}

	.contactpage__connect {
		color: #666;
		border-bottom: 1px solid #666;
		text-decoration: none;
	}

	.contactpage__connect:hover {
		color: #14213d;
		border-bottom: 1px solid #14213d;
		text-decoration: none;
	}
	/* Contact Form */
	.contactpage__form {
		margin-top: 45px;
	}

	.contactpage__form_item {
		display: flex;
		justify-content: flex-start;
		border-left: none;
		border-right: none;
		border-top: none;
		border-width: 1px;
		padding: 0;
		margin-bottom: 25px;
	}

	label[for=contact_page_form_fullName], label[for=contact_page_form_email], label[for=contact_page_form_message] {
		margin-right: 1%;
		width: 24%;
		font-size: 1.10rem;
		line-height: 2;
	}

	.contactform__input {
		font-size: 1.10rem;
		font-weight: 400;
		line-height: 2;
		width: 76%;
		resize: none;
	}

	.contactpage__input :focus {
		border-color: #fca311;
		outline: unset;
		transition: all 0.5s;
	}

	.contactpage__button {
		display: flex;
		justify-content: center;
		margin: 35px 0;
		padding-left: 24%;
	}

	.contactpage__button_prop {
		width: 70%;
		height: 60px;
		background-color: #fca311;
		border-color: white !important;
		color: #fff;
		font-size: 1.10em;
	}

	.contactpage__form_offer {
		font-size: 0.85rem;
		text-align: center;
	}

	/*Page template*/
	.page {
		margin-top: 50px;
		padding: 0 5%;
	}

	.page__content_header {
		text-align: center;
	}

	.page__content_text, .page__content_list {
		color: #14213d;
		text-align: justify;
	}

	.page__template_list {
		list-style: circle;
	}

	.page__share_text {
		margin-bottom: 15px;
	}

	.page__facebook_share {
		margin-bottom: 25px;
	}

	.page__content_subheader {
		text-align: center;
	}

	.tableprice__row_left {
		padding-left: 15% !important;
	}

	/*Footer*/
	.footer__desktop {
		display: flex;
		background-color: #14213d;
		justify-content: space-around;
		padding: 20px 5% 0px 5%;
	}

	.footer__mobile {
		display: none;
	}

	.footer__volume {
		line-height: 2;
		text-align: start;
	}

	.footer__information {
		width: 25%;
		color: #e5e5e5;
	}

	.footer__block_first {
		margin-right: 10%;
	}

	.footer__block_header {
		color: white;
	}

	.footer__block_link {
		margin-bottom: 15px;
		color: white;
		font-size: 1rem;
	}

	.footer__block_link:hover {
		color: white;
		text-decoration: none;
		border-bottom: 1px solid white;
	}

	.footer__block_text {
		color: white;
		text-align: justify;
	}

	.footer__pay {
		margin-bottom: 15px;
	}

	.footer__paysystems {
		margin-bottom: 0px !important;
		color: rgb(255 255 255);
		font-size: 1.10em;
	}

	.footer__pay_img {
		width: 40px;
		margin-right: 15px;
	}

	.footer__pay_icons {
		display: flex;
	}

	.footer__block_text {
		color: white;
		text-align: justify;
	}

	/*404*/
	.page404 {
		width: 100%;
		height: calc(100vh - 35px);
		background-image: url('/img/404-2.jpg');
		background-size: cover;
	}

	.block404{
		margin: 0 10%;
		padding-top: 17vh;
	}

	.error__header {
		color: white;
		font-size: 2.6rem;
	}

	.error__text_prop {
		color: white;
		font-size: 1.45rem;
	}

	.error__text a {
		color: white;
	}

	.links404 {
		display: flex;
		justify-content: space-between;
		color: white;
		margin-bottom: 30px;
	}

	.links404__prop {
		color: #fca311 !important;
		font-size: 1.45rem;
	}

	.links404 a:hover {
		color: #fca311 !important;
		text-decoration: none;
		border-bottom: 1px solid #fca311;
	}

}
