.header {
    --fontFamily: 'Roboto', sans-serif;
    --headerFontSize: 1.5rem;
}

.header__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: #222 !important;
}

.header__title {
    font-family: var(--fontFamily);
    font-size: 2rem;
    color: #fff;
}

.header__loginbutton {
    font-family: var(--fontFamily);
    font-size: 1.6rem;
}

.login__name {
    color: #fff;
    font-family: var(--fontFamily);
    margin-right: 40px;
}