.login__form {
    min-height: 60vh;
}

/*.login__input {*/
/*    width: 40%;*/
/*}*/

label[for=contact_page_form_fullName] {
    width: 25%;
}

.login__form {
    padding: 5%;
}

.login__field {
    margin-bottom: 25px;
}

.login__button_spec {
    width: 25%;
    height: 50px;
}