@media screen and (min-width: 980px) and (max-width: 5000px) {
    /*@group base*/
    * {
        margin:0;
        padding: 0;
        font-weight: 300;
    }

    body {
        line-height: 1.8;
        font-size: 16px;
        background: white;
        color: #848484;
        background-color: white;
        font-family: 'Roboto Condensed', sans-serif !important;
    }

    a {
        color: #848484;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    p {
        color: #848484;
        font-weight: 300;
    }

    .fix_wp_overlap {
        min-height: 32px;
    }

    .btn-primary {
        border: none;
    }
    /*@end*/

    /*@Navigation Bar group*/
    .navbar__specs {
        display: block;
        background-color: white;
        border-bottom: 1px solid #40689e;
        margin-bottom: 0;
        padding-left: 7%;
        padding-right: 7%;
        -webkit-transform: translate3d(0, 0, 0) !important;
        z-index: 9999;
    }

    .navbar__logo {
        margin-top: 12px;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        color: black !important;
        border: 2px solid #40689e;
    }

    .nav__links_specs {
        height: 75px;
        padding-top: 28px !important;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
    }

    .open>a:hover {
        background-color: #40689e !important;
        color: white !important;
    }

    .navbar__link_focus a:hover {
        background-color: #40689e !important;
        color: white !important;
    }

    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .dropdown-menu {
        min-width: 220px;
        padding-top: 6px;
        border:none;
    }

    .dropdown-menu>li>a {
        font-size: 16px;
        padding: 15px 5px 15px 20px;
    }
    /*@end*/

    /*Swiper Slider*/
    .swiper-container {
        width: 100%;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    .slider__slide_one {
        background-image: url('/wp-content/themes/blattamTheme/template/img/home-slider.jpg');
    }

    .slider__slide_two {
        background-image: url('/wp-content/themes/blattamTheme/template/img/cafe-slider.jpg');
    }

    .slider__slide_three {
        background-image: url('/wp-content/themes/blattamTheme/template/img/plant-slider.jpg');
    }

    .slider__content {
        padding: 85px 5% 0px 5%;
    }

    .slider__content_center {
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider__text_flex {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }

    .slider__text_flex h1 {
        color: white;
        font-size: 60px;
    }

    .slider__text_flex h3 {
        color: white;
        font-size: 60px;
    }

    .slider__button {
        display: flex;
        justify-content: center;
    }

    .slider__button_specs {
        background-color: #40689e;
        border: 2px solid 2px solid #40689e;
        padding: 7px 25px 7px 25px !important;
        color: white !important;
        text-decoration: none !important;
        font-size: 24px;
        border-radius: 35px;
        letter-spacing: 1.2px;
    }
    /*@end*/

    /*Main telephone*/
    .main__page_phone {
      background-color: #1a1a1a;
      display: flex;
      justify-content: center;
      padding-top: 45px;
      padding-bottom: 45px;
  }

  .main__phone_text {
      font-size: 22px;
      color: white;
      text-align: center;
  }

  .main__phone_text h2 {
      color: white;
      font-size: 35px;
  }
  /*@end*/

  /*Services block*/
  .ourservices {
      min-height: 700px;
      padding: 50px 5% 85px 5%;
  }

  .ourservices__headblock {
      margin-bottom: 85px;
  }

  .ourservices__headblock_header {
      font-size: 40px;
      font-weight: 400;
      text-align: center;
      padding-bottom: 5px;
  }

  .ourservices__headblock_text {
      display: flex;
      justify-content: center;
  }

  .ourservices__text {
      width: 60%;
      font-size: 20px;
      text-align: center;
      font-weight: normal;
  }

  .otherservices__block_header a {
      text-decoration: none;
      border-bottom: 1px solid #adabab;
  }

  .otherservices__block_header a:hover {
      text-decoration: none;
      border-bottom: 1px solid #40689e;
  }

  .ourservices__blocks {
      display: flex;
      justify-content: space-between;
  }

  .ourservices__block_common {
      width: 30%;
      min-height: 400px;
      border: 2px solid rgba(64, 104, 156, 0.5);
      border-radius: 6px;
      padding: 0px 25px 20px 25px;
  }

  .otherservices__icon_block {
      display: flex;
      justify-content: center;
  }

  .ourservices__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100px;
      border: 2px solid rgba(64, 104, 156, 0.5);;
      border-radius: 50%;
      position: relative;
      bottom: 50px;
      background-color: white;
      z-index: 4444;
  }

  .otherservices__block_text {
      position: relative;
      bottom: 20px;
      text-align: justify;
      font-size: 20px;
  }

  .otherservices__block_header {
      font-size: 24px;
      text-align: center;
  }
  /*@end*/

  /*Grid blocs*/
  .mainbanner {
      margin-bottom: 40px;
  }
  .grid__portfolio_text {
      font-size: 18px;
  }

  .mainbanner {
    display: flex;
    flex-wrap: wrap;
  }

  .mainbanner .portfolio-row-half {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item {
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 25%;
    height: 350px;
    float: left;
    overflow: hidden;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item:after {
    position: absolute;
    background: rgba(64, 104, 158, 0.8) !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item .desc2 {
    padding: 30px;
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    z-index: 9;
    opacity: 0;
    transition: 0.1s;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item .desc2 h3 {
    margin-bottom: 5px;
    color: #fff;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item .desc2 span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item .desc2 i {
    color: #fff;
    position: absolute;
    top: 35px;
    right: 30px;
    font-size: 20px;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item:hover:after, .mainbanner .portfolio-row-half .portfolio-grid-item:focus:after {
    opacity: 1 !important;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item:hover .desc2, .mainbanner .portfolio-row-half .portfolio-grid-item:focus .desc2 {
    bottom: 5px;
    opacity: 1;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item-color {
    position: relative;
    width: 25%;
    height: 350px;
    float: left;
    background: #F36363;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item-color:after {
    position: absolute;
    top: 130px;
    right: -20px;
    width: 0;
    height: 0;
    content: '';
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #F36363;
    z-index: 9;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item-color .desc {
    padding: 30px;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item-color .desc h2, .mainbanner .portfolio-row-half .portfolio-grid-item-color .desc p {
    color: #fff;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item-color .desc .btn-outline {
    background: none;
    border: 2px solid #fff !important;
    font-size: 16px;
    color: #fff;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item-color .desc .btn-outline:hover {
    background: transparent !important;
    color: #fff !important;
  }

  .mainbanner .portfolio-row-half .portfolio-grid-item-color .desc .btn-outline:hover i {
    color: #fff !important;
  }
 /*@end*/

 /*Prices block*/
 .ourprices {
     min-height: 450px;
     padding: 35px 5% 50px 5%;
 }

 .ourprices__image {
     display: flex;
     justify-content: center;
 }

 .ourprices__head {
     margin-bottom: 50px;
 }

 .ourprices__header {
     font-size: 40px;
     font-weight: 400;
     text-align: center;
     padding-bottom: 5px;
 }

 .outprices__header_text {
     display: flex;
     justify-content: center;
     width: 60%;
     font-size: 20px;
     text-align: center;
 }

 .ourprices__head_text {
     display: flex;
     justify-content: center;
 }

 .outprices__header_text {
     font-size: 20px;
 }

 .ourprices__blocks {
     display: flex;
     justify-content: space-between;
 }

 .ourprices__block_common {
     width: 30%;
     min-height: 400px;
     border: 2px solid rgba(64, 104, 156, 0.5);;
     border-radius: 6px;
     padding: 30px 30px 0px 30px;
 }

 .ourprices__common_head {
     text-align: center;
     text-transform: uppercase;
     font-size: 16px;
 }

 .outprices__common_currency {
     text-align: center;
     font-size: 45px;
 }

 .outprices__currency {
     font-size: 20px;
     margin-right: 5px;

 }

 .outprices__common_desc {
     text-align: center;
     font-size: 18px;
 }

.outprices__divider {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.outprices__common_list {
    font-size: 18px;
    text-align: center;
    list-style: none;
    margin-bottom: 15px;
}

.outprices__list_padding {
    padding: 5px 0px 5px 0px;
}

.ourprices__block_button {
    display: flex;
    justify-content: center;
}

.outprices__button_spec {
    background-color: #40689e;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
}

.salebox {
    position: relative;
    bottom: 60px;
}

.ourprices__block_sale {
    position: relative;
    bottom: 67px;
}

.outprices__sale {
    display: flex;
    justify-content: center;
}

.outprices__sale_box {
    text-align: center;
    background-color: #40689e;
    width: 60%;
    padding-top: 6px;
    border-radius: 5px;
}

.outprices__box_textcolor {
    color: white;
}

.outprices__sale_triangle {
    display: flex;
    position: relative;
    justify-content: center;
    color: #40689e;
    font-size: 1.5em;
    bottom: 10px;
}
 /*@end*/

/*Cliemt Review*/
.clientreview {
    min-height: 570px;
    background-color:white;
}

.clientreview__blog {
    margin-top: 45px !important;
    min-height: 300px !important;
}

.clientreview__header {
    text-align: center;
    font-size: 40px;
    padding-bottom: 25px;
}

.main__blog_title {
    margin-bottom: 35px;
}

/*@end*/

/*Counter*/
.fh5co-counters {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 0px 0px 50px 0px;
}

.fh5co-heading {
    margin-bottom: 40px;
}

.counter__header {
    font-size: 40px;
    padding-bottom: 5px;
}

.counter__header_p {
    font-size: 20px;
}
.fh5co-counters .counter-wrap {
  border: 1px solid red !important;
}
.fh5co-counters .fh5co-counter {
  font-size: 44px;
  display: block;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Open Sans", Arial, serif;
  width: 100%;
  font-weight: 400;
  margin-bottom: .3em;
}
.fh5co-counters .fh5co-counter-label {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 5px;
  margin-bottom: 2em;
  display: block;
}
/*@end*/


/*Footer*/
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 5% 25px 5%;
    background-color: rgba(21, 31, 44, 0.1);
    height: 375px;
}

.footer__commonblock {
    list-style: none;
    font-size: 18px;
    width: 30%;
    padding: 25px 10px 25px 10px;
}

.footer__commonblock_second {
    padding-left: 9%;
}

.footer__commonblock a {
    text-decoration: none;
    border-bottom: 1px solid #adabab;
}

.footer__commonblock a:hover {
    text-decoration: none;
    border-bottom: 1px solid #40689e;
}
/*@end*/

/*Цены*/
.uslugi__page {
    min-height: 500px;
    padding-top: 10px;
    padding-bottom: 80px;
}

.uslugi__page_head {
    padding-top: 50px;
    margin-bottom: 30px;
}

.uslugi__page_seo{
    text-align: center;
    padding-bottom: 80px;
}

.uslugi__page_seo h1 {
    font-size: 35px;
    margin: 0px 0px 40px 0px;
}

.uslugi__page_seo h3 {
    font-size: 35px;
    margin: 0px 0px 40px 0px;
}

.uslugi__table_flex {
    display: flex;
    justify-content: center;
}

.uslugi__page_table {
    font-size: 20px;
    text-align: center;
    width: 65%
}

.table__padding {
    padding: 15px 0px 15px 0px !important;
}

.uslugi__seo_text {
    text-align: center;
}

.uslugi__page_table a {
    text-decoration: none;
    border-bottom: 1px solid #adabab;
}

.uslugi__page_table a:hover {
    text-decoration: none;
    border-bottom: 1px solid #40689e;
}
/*@end*/


/*Для предприятий*/
.factory {
    padding: 40px 5% 85px 5%;
}

.factory__block_one {
    margin-bottom: 65px;
}

.factory__header_text {
    text-align: justify;
}

.factory__block_common {
    min-height: 120px;
    padding: 0px 25px 0px 25px;
}

.factory__block_text {
    text-align: center;
    bottom: 30px;
}

strong {
    font-weight: 400;
}

.factory__text_spec {
    text-align: center
}

.factory__links a {
    text-decoration: none;
    border-bottom: 1px solid #adabab;
}

.factory__links a:hover {
    text-decoration: none;
    border-bottom: 1px solid #40689e;
}
/*@end*/

/*Контактная форма*/
    #map {
        position: relative;
        height: 450px;
    }

    .glypcontacts {
        margin-right: 15px;
        top: 4px;
    }



    .contactpage__form {
        display: flex;
        justify-content: space-around;
        margin: auto;
        min-height: 700px;
        top: 100px;
        padding: 20px 5% 20px 5%;
    }

    .contactpage__input {
        display: block;
        width: 40%;
    }

    .contactpage__line_input {
        font-weight: 300;
    }

    .contactpage__input_p {
        font-size: 20px;
        margin-bottom: 0.5em;
    }

    .contactcaptcha {
        margin-bottom: 30px;
    }

    .contactpage__captcha_p {
        margin-bottom: 0;
    }

    .contactcaptcha_flex {
        display: flex;
        justify-content: flex-start;
        height: 40px;
        align-items: center;
    }

    .contactcaptcha_field {
        width: 100%;
        margin-right: 2%;
    }

    .contactpage__captcha_input {
        width: 40%;
    }

    .contactpage__info {
        width: 40%;
    }

    .contact__page_header {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .contact__page_icon {
        margin-right: 2%;
    }

    .contact__page_text{
        font-size: 20px;
        text-align: justify;
        margin-bottom: 40px;
    }

    .contact__page_list {
        font-size: 20px;
    }

    .contactpage__info a {
        text-decoration: none;
        border-bottom: 1px solid #adabab;
    }

    .contactpage__info a:hover {
        text-decoration: none;
        border-bottom: 1px solid #40689e;
    }
/*@end*/

/*Page*/
    .page__content {
        max-width: 100%;
        padding: 0px 0px 35px 0px;
        font-weight: 300;
    }

    .page__phone_fix {
        padding-top: 95px;
        padding-bottom: 17px;
    }

    .main__phone_text h1 {
        font-size: 35px;
    }

    .page__content_header {
        display: flex;
        justify-content: center;
    }

    .page__content_header h1 {
        font-size: 40px;
        margin: 45px 0px 0px 0px;
        color: #848484;
    }

    .page__content_text {
        text-align: justify;
        font-size: 20px;
        color: #848484;
        margin-top: 30px;
        padding-left: 10%;
        padding-right: 10%;
        line-height: 40px;
    }

    .page__content_text h4 {
        margin-top: 35px;
        margin-bottom: 35px;
        text-align: center;
        font-size: 36px;
    }

    .page__table {
        text-align: center;
        font-size: 18px;
    }

    .table-striped {
        background-color: #edf3fc;
    }

    .page__link {
        text-decoration: none;
        border-bottom: 1px solid #d1e3f9;
    }

    .page__link:hover {
        text-decoration: none;
        border-bottom: 1px solid #40689e;
    }

    .page__image {
        float: right;
        margin: 0px 0px 10px 20px;
        border: 2px solid #40689e;
        border-radius: 5px;
    }

    .page__list {
        margin-left: 20px;
    }
/*@end*/

/*Блог*/
.blog__header {
    padding-top: 100px;
    font-size: 40px;
    text-align: center;
}

.gridcontainer {
    padding: 0px 10% 0px 10%;
    margin-top: 50px;
    min-height: 800px;
}

.gridcontainer h3 {
    font-size: 20px;
}

.gridcontainer h3 a{
    font-weight: 300;
    color: #3E2723;
    margin: 0 !important;
}

.gridcontainer .postimage-title {
    color: #3E2723;
}

.gridcontainer .griditemleft{
    float: left;
    display: flex;
    justify-content: space-around;
    height: 400px;
    width: 50%;
    margin-bottom: 20px;
    background-color: #F5F6F7;
}

.gridcontainer .griditemright{
    display: flex;
    justify-content: space-around;
    float: left;
    position: relative;
    height: 400px;
    width: 50%;
    margin-bottom: 20px;
    background-color: #F5F6F7;
}

.griditemleft__flex {
    min-width: 50%;
    padding-left: 5%;
    padding-top:20px;
}

.griditemright__flex {
    min-width: 50%;
    padding-left: 5%;
    padding-top:20px;
}

.gridcontainer .postimage{
    min-width: 50%;
    overflow: hidden;
}

.postimage-title a:hover {
    text-decoration: underline;
}

.blog__button {
    padding: 8px 10px 8px 10px;
    font-size: 15px;
    color: white;
}

.blog__date {
    font-size: 1.1em;
    font-weight: 300;
}

.blog__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.blog__links_settings{
    text-decoration: none !important;
 }

.blog__links_settings:hover {
    border-bottom: 1px solid #3E2723;
}
/*@end*/

.error__header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.error__header_second {
    text-align: center;
    margin-bottom: 50px;
}

}

.our__brand {
    background-color: rgba(21, 31, 44, 0.1);
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
