body {
    margin: 0 10%;
    padding-top: 60px;
}

#descriptionInfo {
    display: none;
}

#descriptionHeader {
    display: none;
}

p {
    margin-top: 0;
}

.upload__title,
.upload,
#descriptionInfo,
.merge__button{
    margin-bottom: 30px;
}

#fileupload {
    font-size: 14px;
}

.upload__button {
    margin-right: 20px;
}

.table__block {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.first {
    margin-right: 8px;
}

.mergeCats {

}

#result {
    display: none;
}

#mergeCats {
    display: none;
}

